@import "../../../assets/scss/variables";

main > form {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 15vh;
  .form-control {
    margin-top: -$input-border-width;
    position: relative;
    border-radius: 0;
    height: auto;
    &:focus {
      z-index: 2;
    }
    &:first-of-type {
      border-top-left-radius: $input-border-radius-lg;
      border-top-right-radius: $input-border-radius-lg;
    }
    &:last-of-type {
      border-bottom-left-radius: $input-border-radius-lg;
      border-bottom-right-radius: $input-border-radius-lg;
    }
  }
  .form-control, .btn-block {
    padding: 0.75rem 1.25rem;
    font-size: 120%;
  }
  .btn-block {
    border-radius: $input-border-radius-lg;
  }
  .enlaces {
    margin-top: 1rem;
    p {
      margin-bottom: 0.6rem;
    }
    .app-antigua {
      margin-top: 2rem;
      border-top: 1px solid darken($gray-200, 3%);
      padding-top: 0.75rem;
      text-align: center;
    }
  }
}
