<main>
  <form
    class="container-fluid"
    (submit)="onLogin(loginForm)"
    #loginForm="ngForm"
  >
    <div class="blog-logo text-center smb-12">
      <a class="navbar-brand" routerLink="/">
        <p class="top-text" style="font-size: 32px;">
          Agro de <b>precisión</b>
        </p>
        <div class="bot-text" style="font-size: 24px;">
          por
          <img
            alt="Logo de Cesens"
            src="assets/img/cesens_log.svg"
            width="120px"
          />
        </div>
      </a>
    </div>
    <div class="form-group">
      <label for="email" class="sr-only">Email:</label>
      <input
        type="email"
        name="email"
        ngModel
        #emailInput="ngModel"
        placeholder="email"
        class="form-control form-control-lg"
        required
      />
      <label for="password" class="sr-only">Password:</label>
      <input
        type="password"
        name="password"
        ngModel
        #passwordInput="ngModel"
        placeholder="password"
        class="form-control form-control-lg"
        required
      />
    </div>
    <div class="clearfix">
      <button
        type="submit"
        name="go"
        class="btn btn-primary btn-lg btn-block float-right"
      >
        Submit
      </button>
    </div>
    <div class="enlaces">
      <p>
        <a tabindex="0">Did you forget your password?</a>
        <a (click)="openPwdModal(pwdTemplate)"> reset your password</a>
      </p>
    </div>
  </form>
</main>

<ng-template #pwdTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Reset your pasword</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="pwdModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      class="container-fluid"
      (submit)="onResetPwd(ResetForm)"
      #ResetForm="ngForm"
      *ngIf="!msg"
    >
      <div class="form-group">
        <label for="email" class="sr-only">Email:</label>
        <input
          type="email"
          name="email"
          ngModel
          #emailInput="ngModel"
          placeholder="email"
          class="form-control form-control-lg"
          required
        />
      </div>
      <div class="clearfix">
        <button
          type="submit"
          name="go"
          class="btn btn-primary btn-lg btn-block float-right"
        >
          Submit
        </button>
      </div>
    </form>
    <div class="text-center">
      <p>{{ msg }}</p>
    </div>
  </div>
</ng-template>
