$font-weight-base: 300;
$font-weight-bold: 500;
$font-family-sans-serif: 'Helvetica Neue LT Pro', Helvetica, Arial, sans-serif;

$blue: #2c8ff2;
$blue-light: #b9d8fd;
$red: #ff5245;
$green: #00ef98;
$gray-100: #f0f1f2;
$gray-200: #e3e5e5;
$gray-300: #b3b6b7;
$gray-400: #8f9293;
$gray-500: #707272;
$gray-600: #515354;
$gray-700: #37393a;
$gray-800: #242526;
$gray-900: #1c1d1e;

$header-height: 44px;
$grid-gutter-width: 2rem;
$btn-border-radius: 1.5rem;
$btn-border-radius-sm: 0.75 * $btn-border-radius;
$btn-border-radius-lg: 1.25 * $btn-border-radius;

$grid-breakpoints: (
  xs: 0,
  sm: 680px,
  md: 940px,
  lg: 1200px,
  xl: 1460px,
);
$container-max-widths: (
  sm: 648px,
  md: 908px,
  lg: 1168px,
  xl: 1428px,
);

$ancho-nav: 153px;
$ancho-aside: 380px;
$padding: 3rem;

@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";
@import "../../../node_modules/bootstrap/scss/_mixins.scss";
