<div class="loading" *ngIf="loading"></div>

<section class="section container">
  <div class="row">
    <div class="col-4">
      <div id="list-example" class="list-group">
        <a
          class="list-group-item list-group-item-action"
          routerLinkActive="active"
          routerLink="/user/setting/account"
          >Account</a
        >
        <a
          class="list-group-item list-group-item-action"
          routerLink="/user/setting/security"
          routerLinkActive="active"
          >Security</a
        >
        <a
          *ngIf="user.administrator === '1'"
          class="list-group-item list-group-item-action"
          routerLink="/user/setting/users"
          routerLinkActive="active"
          >Users</a
        >
        <a
          *ngIf="user.administrator === '1'"
          class="list-group-item list-group-item-action"
          routerLink="/user/setting/categories"
          routerLinkActive="active"
          >Categories</a
        >
        <a
          *ngIf="user.administrator === '1'"
          class="list-group-item list-group-item-action"
          routerLink="/user/setting/posts"
          routerLinkActive="active"
          >Posts</a
        >
      </div>
    </div>
    <div class="col-8" *ngIf="nav === 'account'">
      <div
        data-spy="scroll"
        data-target="#list-example"
        data-offset="0"
        class="scrollspy-example"
      >
        <div class="text-right">
          <p>
            Need to update your public profile?
            <a [routerLink]="['/user/edit/', user.id]">Go Here</a>
          </p>
        </div>
        <hr />
        <form [formGroup]="emailForm" (ngSubmit)="onChangeEmail()">
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label"
              >Email</label
            >
            <div class="col-sm-8 text-right">
              <input type="text" class="form-control" formControlName="email" />
            </div>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-primary mb-2">
              Save changes
            </button>
          </div>
        </form>
        <hr />
        <form>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label"
              >Account deactivation</label
            >
            <div class="text-right col-sm-8 ">
              <button
                type="submit"
                class="btn btn-danger mb-2"
                (click)="onDeactivateAccount()"
              >
                Deactivate account
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-8" *ngIf="nav === 'security'">
      <div
        data-spy="scroll"
        data-target="#list-example"
        data-offset="0"
        class="scrollspy-example"
      >
        <form [formGroup]="pwdForm" (ngSubmit)="onChangePassword()">
          <div class="form-group">
            <div class="row form-group">
              <p class="col-sm-4 col-form-label">SET PASSWORD</p>
            </div>
            <div class="row form-group">
              <label for="staticEmail" class="col-sm-4 col-form-label"
                >New Password</label
              >
              <div class="col-sm-8 text-right">
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                />
              </div>
            </div>
            <div class="row form-group">
              <label for="staticEmail" class="col-sm-4 col-form-label"
                >Confirm Password</label
              >
              <div class="col-sm-8 text-left">
                <input
                  type="password"
                  class="form-control"
                  formControlName="confirmPassword"
                />
                <small class="form-text">
                  8 characters or longer. Combine upper and lowercase letters
                  and numbers.</small
                >
              </div>
            </div>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-primary mb-2">
              Save changes
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-8" *ngIf="nav === 'users'">
      <div
        data-spy="scroll"
        data-target="#list-example"
        data-offset="0"
        class="scrollspy-example"
      >
        <div class="text-right">
          <p>
            Create new user?
            <a [routerLink]="['/user/create']">Go Here</a>
          </p>
        </div>
        <hr />
        <div class="form-group row">
          <ng-multiselect-dropdown
            class="col-sm-8 col-form-label"
            [placeholder]="'Users'"
            [data]="dropdownListUsers"
            [settings]="dropdownSettingsUsers"
            (onSelect)="onUserSelect($event)"
          >
          </ng-multiselect-dropdown>
          <div class="text-right col-sm-4 ">
            <button
              type="button"
              class="btn btn-primary mb-2"
              (click)="onEdit('user')"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8" *ngIf="nav === 'categories'">
      <div
        data-spy="scroll"
        data-target="#list-example"
        data-offset="0"
        class="scrollspy-example"
      >
        <div class="text-right">
          <p>
            Create new catgory?
            <a [routerLink]="['/category/create']">Go Here</a>
          </p>
        </div>
        <hr />
        <div class="form-group row">
          <ng-multiselect-dropdown
            class="col-sm-8 col-form-label"
            [placeholder]="'Categories'"
            [data]="dropdownListCategories"
            [settings]="dropdownSettingsCategories"
            (onSelect)="onCategorySelect($event)"
          >
          </ng-multiselect-dropdown>
          <div class="text-right col-sm-4 ">
            <button
              type="button"
              class="btn btn-primary mb-2"
              (click)="onEdit('category')"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8" *ngIf="nav === 'posts'">
      <div
        data-spy="scroll"
        data-target="#list-example"
        data-offset="0"
        class="scrollspy-example"
      >
        <div class="text-right">
          <p>
            Create new post?
            <a [routerLink]="['/post/create']">Go Here</a>
          </p>
        </div>
        <hr />
        <div class="form-group row">
          <ng-multiselect-dropdown
            class="col-sm-8 col-form-label"
            [placeholder]="'posts'"
            [data]="dropdownListPosts"
            [settings]="dropdownSettingsPosts"
            (onSelect)="onPostSelect($event)"
          >
          </ng-multiselect-dropdown>
          <div class="text-right col-sm-4 ">
            <button
              type="button"
              class="btn btn-primary mb-2"
              (click)="onEdit('post')"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
