
::ng-deep .dropdown-list .filter-textbox input::placeholder {
  color: #495057!important;
}

::ng-deep ng-multiselect-dropdown {
  width: 100%;
  margin-bottom: 16px!important;
}

::ng-deep .multiselect-dropdown .dropdown-btn {
  border: 1px solid #ced4da!important;
  color: #495057;
}

::ng-deep .multiselect-item-checkbox input[type="checkbox"] + div {
  color: #495057!important;
}

::ng-deep .multiselect-item-checkbox input[type="checkbox"]:checked + div::before {
  -webkit-animation: .2s ease-in borderscale;
  animation: .2s ease-in borderscale;
  background: #48B745!important;
}

::ng-deep .multiselect-item-checkbox input[type="checkbox"] + div::before {
  color: #48B745!important;
  border: 2px solid #48B745!important;
}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item{
  border: 1px solid #48B745!important;
  background: #48B745!important;
}
