<div class="loading" *ngIf="loading"></div>
<section class="section container">
  <h2 class="title text-center">
    Articles for
    <span style="text-transform: uppercase; color: #48B786;">{{
      categoryName
    }}</span>
  </h2>
</section>
<section *ngIf="lastPosts?.length > 0" class="section container">
  <h2 class="title">Últimas entradas</h2>
  <div class="latest-posts">
    <div
      *ngFor="let p of lastPosts"
      [routerLink]="['/post', p.id]"
      class="post-big"
      [ngStyle]="{
        'background-image':
          'url(http://192.168.1.63:99/images/' + p.mainImage + ')'
      }"
      style="background-position:center; background-size: auto 406px"
    >
      <div class="layer">
        <h2>{{ p.title }}</h2>
        <div class="info-post-b">
          <div class="date-b">{{ p.createdAt | date }}</div>
          Por Diego Polo
        </div>
        <div class="tag-b">
          Categorie:
          <b *ngFor="let c of p.categories; let last = last">
            {{ c.name }} {{ last ? "" : ", " }}
          </b>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section container">
  <div
    *ngIf="length <= 0"
    style="width: 100%;height: 100%;"
    class="text-center
  "
  >
    <img src="assets/img/empty.svg" width="400px" alt="" />
    <p
      class="smt-12"
      style="color:#c1cbd4;font-size:22px; text-transform: uppercase;"
    >
      No Articles for now
    </p>
  </div>
  <div class="posts" *ngIf="length > 0">
    <div class="post" *ngFor="let p of posts">
      <img
        [routerLink]="['/post', p.id]"
        [ngStyle]="{
          'background-image':
            'url(http://192.168.1.63:99/images/' + p.mainImage + ')'
        }"
        style="background-position:center; background-size: 400px"
        alt=""
      />
      <h3 [routerLink]="['/post', p.id]">
        {{ p.content }}
      </h3>
      <div class="info-post">
        <p class="date">{{ p.createdAt | date }}</p>
        <p class="tag-post">
          <span *ngFor="let c of p.categories; let last = last">
            {{ c.name }} {{ last ? "" : ", " }}
          </span>
        </p>
      </div>
    </div>
    <div class="paginatioon">
      <pagination
        *ngIf="length > 8"
        [maxSize]="6"
        [itemsPerPage]="8"
        [totalItems]="length"
        previousText="anterior"
        nextText="siguiente"
        (pageChanged)="pageChanged($event)"
      ></pagination>
    </div>
  </div>
</section>
