<section class="section container">
  <h2 class="title">
    Select a category to edit or
    <a routerLink="/category/create">add new category</a>
  </h2>
  <div class="tags">
    <div class="tag-body" routerLink="/category/create">
      <span class="icon-list4"></span>
      <p>TODOS</p>
    </div>
    <div class="tag-body" routerLink="/category/create">
      <span class="icon-home"></span>
      <p>SENSORES</p>
    </div>
    <div class="tag-body" routerLink="/category/create">
      <span class="icon-home"></span>
      <p>SENSORES</p>
    </div>
  </div>
</section>
