.dropdown-item {
  text-transform: capitalize!important;
  color: rgba(0,0,0,.5)!important;
  font-size: 16px!important;
}

navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  cursor: pointer!important;
}

.dropmenuuser {
  color: rgba(0,0,0,.5)!important;
  background: none!important;
  border: none!important;
  font-size: 1rem;
  text-transform: capitalize!important;
}

.dropmenuuser:hover , .dropmenuuser:focus, .dropmenuuser:active {
  color: rgb(56, 133, 99)!important;
  background: none!important;
  border: none!important;
  outline: none!important;
  box-shadow: none!important;
}



