<div *ngIf="nav" style="border-bottom: solid 1px #cecece;">
  <nav class="container navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="blog-logo">
        <a class="navbar-brand" routerLink="/" style="cursor: pointer;">
          <p class="top-text">Agro de <b>precisión</b></p>
          <div class="bot-text">
            por
            <img
              alt="Logo de Cesens"
              src="assets/img/cesens_log.svg"
              width="80px"
            />
          </div>
        </a>
      </div>
      <div
        class="collapse navbar-collapse d-flex justify-content-end align-self-end"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav">
          <li class="nav-item menu-item">
            <a
              class="nav-link menu"
              routerLinkActive="active"
              routerLink="/home"
              >Portada</a
            >
          </li>
          <li class="nav-item menu-item">
            <a
              class="nav-link menu"
              routerLinkActive="active"
              routerLink="/category/all"
              >categorías</a
            >
          </li>
          <li class="nav-item menu-item">
            <a
              class="nav-link menu"
              routerLinkActive="active"
              routerLink="/user/profile"
              >Autores</a
            >
          </li>
          <li class="nav-item menu-item">
            <a class="nav-link menu" routerLinkActive="active">Web cesens</a>
          </li>
          <li class="nav-item menu-item">
            <a class="nav-link menu" routerLinkActive="active">Aplicación</a>
          </li>
        </ul>
      </div>
      <div class="pull-right dropdown" style="padding-top: 11px;">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a *ngIf="!isAuth" routerLink="/login">
          <span class="sr-only">Acceder a la aplicación</span>
          <i class="fa fa-lg fa-user" aria-hidden="true"></i>
        </a>
        <div
          *ngIf="isAuth"
          class="btn-group nav-item nav-link navbar-text"
          dropdown
        >
          <button
            id="button-custom-html"
            dropdownToggle
            type="button"
            class="btn btn-primary dropdown-toggle dropmenuuser"
            aria-controls="dropdown-custom-html"
          >
            welcome {{ user.firstName }} <span class="caret"></span>
          </button>
          <ul
            id="dropdown-custom-html"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-custom-html"
          >
            <li role="menuitem">
              <a
                class="dropdown-item"
                style="background-color: #48B786; color: white!important;"
                routerLink="/post/create"
                >new article</a
              >
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="user/profile">profile</a>
            </li>
            <li role="menuitem" routerLink="/user/setting/account">
              <a class="dropdown-item">settings</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a
                class="dropdown-item"
                style="cursor: pointer;"
                (click)="onLogout()"
                >logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
