::ng-deep .ql-toolbar {
  margin-top: 0;
}

::ng-deep .ngx-img-wrapper {
  margin-bottom: 12px;
}

::ng-deep .dropdown-list .filter-textbox input::placeholder {
  color: #495057!important;
}

::ng-deep ng-multiselect-dropdown {
  width: 100%;
  margin-bottom: 16px!important;
}

::ng-deep .multiselect-dropdown .dropdown-btn {
  border: 1px solid #ced4da!important;
  color: #495057;
}

::ng-deep .multiselect-item-checkbox input[type="checkbox"] + div {
  color: #495057!important;
}

::ng-deep .multiselect-item-checkbox input[type="checkbox"]:checked + div::before {
  -webkit-animation: .2s ease-in borderscale;
  animation: .2s ease-in borderscale;
  background: #48B745!important;
}

::ng-deep .multiselect-item-checkbox input[type="checkbox"] + div::before {
  color: #48B745!important;
  border: 2px solid #48B745!important;
}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item{
  border: 1px solid #48B745!important;
  background: #48B745!important;
}

.title-zone {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title-zone > input {
  height: 80px;
}

::ng-deep .ql-snow.ql-toolbar button {
  min-height: 40px!important;
  margin-right: 15px!important;

}

::ng-deep  .ql-toolbar.ql-snow {
  position: relative;
  border-bottom: none!important;
  font-family: Catamaran 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif!important;
  text-align: center!important;
  z-index: 1000;
  background-color: white;
  margin: 0 auto;
  min-height: 50px;
}

::ng-deep .ql-snow .ql-color-picker, .ql-snow .ql-icon-picker {
  width: 44px!important;
}

::ng-deep .ql-toolbar.ql-snow .ql-formats {
  margin-right: 30px!important;
}

::ng-deep .ql-snow .ql-icon-picker {
  width: 43px!important;
}

::ng-deep .ql-snow .ql-icon-picker .ql-picker-item {
  height: 42px!important;
  width: 42px!important;
}
