<section class="section container">
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-group title-zone">
      <input
        class="form-control form-control-lg title-artical"
        style="font-size: 38px;"
        type="text"
        placeholder="Title of the article"
        formControlName="title"
      />
    </div>
    <small
      *ngIf="
        title.invalid && (title.dirty || title.touched) && title.errors.required
      "
      class="form-text text-danger"
      >Title is required.</small
    >
    <div class="smb-12 d-flex justify-content-between">
      <div style="width: 49%;">
        <ng-multiselect-dropdown
          [placeholder]="'Categories'"
          [data]="dropdownListCatgories"
          formControlName="categories"
          [settings]="dropdownSettingsCatgories"
        >
        </ng-multiselect-dropdown>
        <small
          *ngIf="
            categories.invalid &&
            (categories.dirty || categories.touched) &&
            categories.errors.required
          "
          class="form-text text-danger"
          >categories is required.</small
        >
      </div>
      <div style="width: 49%;">
        <ng-multiselect-dropdown
          [placeholder]="'collaborators'"
          [data]="dropdownListcollaborators"
          formControlName="collaborators"
          [settings]="dropdownSettingscollaborators"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
    <small
      *ngIf="
        mainImage.invalid &&
        (mainImage.dirty || mainImage.touched) &&
        mainImage.errors.required
      "
      class="form-text text-danger"
      >Title is required.</small
    >
    <div
      *ngIf="mode === 'edit'"
      class="image-container-post"
      (click)="openModalImage(image)"
    >
      <img
        class="smb-12"
        [src]="
          srcImg ? srcImg : 'http://192.168.1.63:99/images/' + post?.mainImage
        "
        alt="image to edit"
        width="100%"
      />
      <div class="after-post">
        <div
          class="d-flex justify-content-center align-items-center"
          style="width: 100%; height: 100%;"
        >
          <i class="fa fa-picture-o"></i>
        </div>
      </div>
    </div>
    <ngx-img
      *ngIf="mode === 'create'"
      (onSelect)="onSelectImage($event)"
      (onReset)="onResetImage()"
      [config]="optionsImg"
    ></ngx-img>
    <small
      *ngIf="
        mainImage.invalid &&
        (mainImage.dirty || mainImage.touched) &&
        mainImage.errors.required
      "
      class="form-text text-danger"
      >content is required.</small
    >
    <quill-editor
      #quilleditor
      [modules]="configGuill"
      (onContentChanged)="maxLengthEditor($event)"
      formControlName="content"
      maxLength="10"
      placeholder="create your articale text here.."
    ></quill-editor>
    <div class="text-right">
      <span style="font-size: 12px;">{{ quillLength }} / 5000</span>
    </div>

    <div class="form-group text-center" style="margin-top: 32px;">
      <button type="submit" class="btn btn-primary btn-lg">Save Article</button>
    </div>
  </form>
</section>

<ng-template #image>
  <div *ngIf="mode !== 'create'" class="modal-header">
    <h4 class="modal-title pull-left">Edit photo</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="ImageModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngx-img
      (onSelect)="onSelectImage($event)"
      (onReset)="onResetImage()"
      [config]="optionsImg"
    ></ngx-img>
    <button
      (click)="ImageModalRef.hide()"
      class="btn btn-primary btn-block smt-12"
    >
      OK
    </button>
  </div>
</ng-template>
