<div class="loading" *ngIf="loading"></div>

<section class="section container">
  <div
    class="post-blog-image profile-head"
    style="background-color: #48B786; background-size: 100% auto"
  >
    <img
      [src]="'http://192.168.1.63:99/images/' + fetchedUser?.photo"
      [alt]="fetchedUser?.firstName + ' ' + fetchedUser?.lastName"
      height="300px"
    />
    <div class="info">
      <h1>{{ fetchedUser?.firstName }} {{ fetchedUser?.lastName }}</h1>

      <p>
        {{ fetchedUser?.description }}
      </p>
      <button class="btn btn-outline-white mt-2">
        {{ posts?.length }} articulos
      </button>
      <div class="icons-right">
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-envelope"></i>
      </div>
    </div>
  </div>

  <div
    *ngIf="posts?.length <= 0"
    style="width: 100%;height: 100%;"
    class="text-center smt-42"
  >
    <img src="assets/img/empty.svg" width="400px" alt="" />
    <p
      class="smt-12"
      style="color:#c1cbd4;font-size:22px; text-transform: uppercase;"
    >
      No Articles for {{ user.firstName }}
    </p>
  </div>

  <div class="posts smt-42" *ngIf="posts?.length > 0">
    <div class="post" *ngFor="let p of posts">
      <img
        [routerLink]="['/post', p.id]"
        [ngStyle]="{
          'background-image':
            'url(http://192.168.1.63:99/images/' + p.mainImage + ')'
        }"
        style="background-position:center; background-size: 400px"
        alt=""
      />
      <h3 [routerLink]="['/post', p.id]">{{ p.title }}</h3>
      <div class="info-post">
        <p class="date">{{ p.createdAt | date }}</p>
        <p class="tag-post">
          <span *ngFor="let c of p.categories; let last = last">
            {{ c.name }} {{ last ? "" : ", " }}
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="list-coloborators smt-42">
    <div
      class="coloborator"
      *ngFor="let u of users"
      [routerLink]="['/user/profile/', u.id]"
    >
      <img
        [src]="'http://192.168.1.63:99/images/' + u.photo"
        [alt]="u.firstName + ' ' + u.lastName"
      />
      <div class="info-coloborator">
        <h5>{{ u.firstName }} {{ u.lastName }}</h5>
        <p>encore-lab</p>
      </div>
    </div>
  </div>
</section>
