<div class="loading" *ngIf="loading"></div>
<section class="container post-bloc">
  <h1 class="text-center">
    {{ post?.title }}
  </h1>
  <div *ngIf="isAuth" class="info-post">
    <div class="d-flex justify-content-between" style="width: 40%;">
      <a
        [routerLink]="['/post', 'edit', idPost]"
        style="cursor: pointer;color: white;"
        >Edit articale</a
      >
    </div>
    <div>
      <a
        style="cursor: pointer;color: white;"
        (click)="ondelete()"
        style="cursor: pointer;"
        >Delete articale</a
      >
    </div>
  </div>
  <img [src]="'http://192.168.1.63:99/images/' + post?.mainImage" alt="" />
  <div class="info-post">
    <div class="d-flex justify-content-between" style="width: 40%;">
      <p>
        Fecha: <b>{{ post?.createdAt | date }}</b>
      </p>
      <p>
        Categories:
        <b
          *ngFor="let c of categories; let last = last"
          style="cursor: pointer;"
          [routerLink]="['/category', c.id, c.name]"
          >{{ c?.name }}{{ last ? "" : ", " }}
        </b>
      </p>
    </div>
    <div>
      Autores:
      <b
        *ngFor="let c of collaborators; let last = last"
        style="cursor: pointer;"
        [routerLink]="['/user/profile', c.id]"
        ><a>{{ c?.firstName }} {{ c?.lastName }}</a
        >{{ last ? "" : " y " }}
      </b>
    </div>
  </div>

  <div class="ql-container ql-snow" style="border-width: 0;">
    <div class="ql-editor" [innerHTML]="content"></div>
  </div>

  <div class="post-bloc-content">
    <div class="social"></div>
    <dir class="authors">
      <div class="author" *ngFor="let c of collaborators">
        <img
          [src]="'http://192.168.1.63:99/images/' + c.photo"
          [alt]="c.firstName + ' ' + c.lastName"
          width="60px"
        />
        <div class="author-info">
          <h4>{{ c.firstName }} {{ c.lastName }}</h4>
          <p>
            {{ c.description ? c.description : " No description " }}
          </p>
        </div>
      </div>
    </dir>
    <div style="width:100%;margin-top: 42px;" class="text-center">
      <button class="btn btn-outline-primary smr-12">anterior</button>
      <button class="btn btn-outline-primary">siguiente</button>
    </div>
  </div>
</section>
