<section class="container section">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="d-flex justify-content-between">
      <div style="width: 49%;">
        <div class="form-group form-row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="First name*"
              formControlName="firstName"
            />
            <small *ngIf="false" id="emailHelp" class="form-text text-danger"
              >FIrst name is required.</small
            >
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Last name*"
              formControlName="lastName"
            />
            <small *ngIf="false" id="emailHelp" class="form-text text-danger"
              >Last name is required.</small
            >
          </div>
        </div>
        <div class="form-group" *ngIf="mode !== 'edit'">
          <input
            *ngIf="user.administrator === '1'"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="email*"
            formControlName="email"
          />
          <small *ngIf="false" id="emailHelp" class="form-text text-danger"
            >Email is required.</small
          >
        </div>
        <div class="form-group form-row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="linkedIn"
              formControlName="linkedIn"
            />
            <small *ngIf="false" id="emailHelp" class="form-text text-danger"
              >password is required.</small
            >
          </div>
          <div class="col">
            <input
              type="test"
              class="form-control"
              placeholder="facebook"
              formControlName="facebook"
            />
            <small *ngIf="false" id="emailHelp" class="form-text text-danger"
              >Passwords are not the same.</small
            >
          </div>
        </div>
        <small
          *ngIf="user.administrator === '1'"
          id="emailHelp"
          class="form-text text-info"
          >Password will be send by email
          {{
            mode === "admin"
              ? " | if you dont want to change the password leave it empty"
              : ""
          }}</small
        >
        <div *ngIf="user.administrator === '1'" class="form-group form-row">
          <div class="col">
            <input
              type="password"
              class="form-control"
              placeholder="password*"
              formControlName="password"
              (input)="onChangedPwd()"
            />
            <small *ngIf="false" id="emailHelp" class="form-text text-danger"
              >password is required.</small
            >
          </div>
          <div class="col">
            <input
              type="password"
              class="form-control"
              placeholder="confirm password*"
              formControlName="confirmPassword"
              (input)="onChangedPwd()"
            />
            <small *ngIf="false" id="emailHelp" class="form-text text-danger"
              >Passwords are not the same.</small
            >
          </div>
        </div>
        <div *ngIf="user.administrator === '1'" class="form-group form-row">
          <div class="col">
            <p class="form-control-plaintext">Or you can generate password</p>
          </div>
          <div class="col">
            <button
              class="btn btn-primary btn-block"
              type="button"
              (click)="generatePwd()"
            >
              {{ generatedPwd ? " GENERATED: " + generatedPwd : "Generate" }}
            </button>
          </div>
        </div>
        <div *ngIf="mode !== 'edit'" class="form-group form-row">
          <div class="col">
            <select
              class="custom-select"
              id="validationCustom04"
              required
              formControlName="gender"
            >
              <option selected disabled value="">Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
          <div
            *ngIf="user.administrator === '1'"
            class="custom-control custom-checkbox my-1 mr-sm-2 text-right"
            style="width: 50%;"
          >
            <input
              type="checkbox"
              class="custom-control-input"
              id="customControlInline"
              formControlName="adminPrivileges"
            />
            <label class="custom-control-label" for="customControlInline"
              >Aministrator privileges</label
            >
          </div>
        </div>
        <textarea
          class="form-control"
          [rows]="user.administrator === '0' ? '5' : '3'"
          placeholder="description"
          formControlName="description"
        ></textarea>
      </div>
      <div style="width: 36%; height: 100%;" class="text-center">
        <button
          *ngIf="srcImg"
          type="button"
          class="btn btn-secondary btn-small smb-12"
          (click)="onResetImage()"
        >
          Reset photo
          <span class="icon-cross2"></span>
        </button>
        <div>
          <div
            *ngIf="mode !== 'create'"
            class="image-container"
            (click)="openModalImage(image)"
          >
            <img
              style="max-width: 411px"
              *ngIf="mode !== 'create'"
              width="70%"
              [src]="
                srcImg
                  ? srcImg
                  : 'http://192.168.1.63:99/images/' + fetchedUser?.photo
              "
              alt="user photo"
            />
            <div class="after">
              <div
                class="d-flex justify-content-center align-items-center"
                style="width: 100%; height: 100%;"
              >
                <i class="fa fa-picture-o"></i>
              </div>
            </div>
          </div>
          <ngx-img
            *ngIf="mode === 'create'"
            (onSelect)="onSelectImage($event)"
            (onReset)="onResetImage()"
            [config]="optionsImg"
          ></ngx-img>
        </div>
      </div>
    </div>
    <button class="btn btn-primary btn-block smt-12">Save</button>
  </form>
</section>

<ng-template #image>
  <div *ngIf="mode !== 'create'" class="modal-header">
    <h4 class="modal-title pull-left">Edit photo</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="ImageModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngx-img (onSelect)="onSelectImage($event)" [config]="optionsImg"></ngx-img>
    <button
      (click)="ImageModalRef.hide()"
      class="btn btn-primary btn-block smt-12"
    >
      OK
    </button>
  </div>
</ng-template>
