<h2 class="title">Coloboradores del Blog</h2>
<div class="coloborators-content">
  <div class="list-coloborators">
    <div class="coloborator">
      <img src="assets/img/user.jpg" alt="" />
      <div class="info-coloborator">
        <h5>Med ben malek</h5>
        <p>software engeneer</p>
      </div>
    </div>
    <div class="coloborator">
      <img src="assets/img/user.jpg" alt="" />
      <div class="info-coloborator">
        <h5>Med ben malek</h5>
        <p>software engeneer</p>
      </div>
    </div>
    <div class="coloborator">
      <img src="assets/img/user.jpg" alt="" />
      <div class="info-coloborator">
        <h5>Med ben malek</h5>
        <p>software engeneer</p>
      </div>
    </div>
    <div class="coloborator">
      <img src="assets/img/user.jpg" alt="" />
      <div class="info-coloborator">
        <h5>Med ben malek</h5>
        <p>software engeneer</p>
      </div>
    </div>
  </div>
  <div class="details-coloborator">
    <img src="assets/img/user.jpg" alt="" />
    <div class="details-coloborator-info">
      <h5>Med ben malek</h5>
      <h4 class="sub-title">nostrud exercitation ullamc</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor.
      </p>
      <div class="details-coloborator-footer">
        <button class="btn btn-outline-primary">6 articulos</button>
        <div class="coloborator-social"></div>
      </div>
    </div>
  </div>
</div>
