<section class="section container">
  <form [formGroup]="Catform" (ngSubmit)="onSubmit()">
    <div class="form-group title-zone row">
      <input
        class="form-control form-control-lg title-artical col-lg-8"
        style="font-size: 38px;"
        type="text"
        placeholder="category name"
        formControlName="name"
      />
      <div class="col-lg-4">
        <button
          type="button"
          style="font-size: 38px;"
          class="btn btn-secondary btn-lg btn-block "
          (click)="openModal(icons)"
        >
          SELECT ICON
          <span [class]="selectedIcon"></span>
        </button>
      </div>
    </div>
    <div
      class="form-group text-center"
      style="margin-top: 32px; width: 50%; margin: 0 auto;"
    >
      <button
        style="font-size: 38px; width: 40%;"
        type="submit"
        class="btn btn-primary btn-lg"
        [disabled]="!Catform.valid"
        [ngStyle]="{ cursor: !Catform.valid ? 'not-allowed' : 'pointer' }"
      >
        Save
      </button>
      <button
        *ngIf="mode == 'edit'"
        type="button"
        class="btn btn-danger btn-lg"
        style="margin-left: 30px;font-size: 38px; width: 40%;"
        (click)="ondelete()"
      >
        Delete
      </button>
    </div>
  </form>
</section>

<ng-template #icons>
  <div class="modal-header">
    <h4 class="modal-title pull-left">select icon</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="ModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="icons">
      <span class="icon-home" (click)="selectIcon($event)" ></span>
      <span class="icon-home2" (click)="selectIcon($event)" ></span>
      <span class="icon-home3" (click)="selectIcon($event)" ></span>
      <span class="icon-home4" (click)="selectIcon($event)" ></span>
      <span class="icon-home5" (click)="selectIcon($event)" ></span>
      <span class="icon-home6" (click)="selectIcon($event)" ></span>
      <span class="icon-bathtub" (click)="selectIcon($event)" ></span>
      <span class="icon-toothbrush" (click)="selectIcon($event)" ></span>
      <span class="icon-bed" (click)="selectIcon($event)" ></span>
      <span class="icon-couch" (click)="selectIcon($event)" ></span>
      <span class="icon-chair" (click)="selectIcon($event)" ></span>
      <span class="icon-city" (click)="selectIcon($event)" ></span>
      <span class="icon-apartment" (click)="selectIcon($event)" ></span>
      <span class="icon-pencil" (click)="selectIcon($event)" ></span>
      <span class="icon-pencil2" (click)="selectIcon($event)" ></span>
      <span class="icon-pen" (click)="selectIcon($event)" ></span>
      <span class="icon-pencil3" (click)="selectIcon($event)" ></span>
      <span class="icon-eraser" (click)="selectIcon($event)" ></span>
      <span class="icon-pencil4" (click)="selectIcon($event)" ></span>
      <span class="icon-pencil5" (click)="selectIcon($event)" ></span>
      <span class="icon-feather" (click)="selectIcon($event)" ></span>
      <span class="icon-feather2" (click)="selectIcon($event)" ></span>
      <span class="icon-feather3" (click)="selectIcon($event)" ></span>
      <span class="icon-pen2" (click)="selectIcon($event)" ></span>
      <span class="icon-pen-add" (click)="selectIcon($event)" ></span>
      <span class="icon-pen-remove" (click)="selectIcon($event)" ></span>
      <span class="icon-vector" (click)="selectIcon($event)" ></span>
      <span class="icon-pen3" (click)="selectIcon($event)" ></span>
      <span class="icon-blog" (click)="selectIcon($event)" ></span>
      <span class="icon-brush" (click)="selectIcon($event)" ></span>
      <span class="icon-brush2" (click)="selectIcon($event)" ></span>
      <span class="icon-spray" (click)="selectIcon($event)" ></span>
      <span class="icon-paint-roller" (click)="selectIcon($event)" ></span>
      <span class="icon-stamp" (click)="selectIcon($event)" ></span>
      <span class="icon-tape" (click)="selectIcon($event)" ></span>
      <span class="icon-desk-tape" (click)="selectIcon($event)" ></span>
      <span class="icon-texture" (click)="selectIcon($event)" ></span>
      <span class="icon-eye-dropper" (click)="selectIcon($event)" ></span>
      <span class="icon-palette" (click)="selectIcon($event)" ></span>
      <span class="icon-color-sampler" (click)="selectIcon($event)" ></span>
      <span class="icon-bucket" (click)="selectIcon($event)" ></span>
      <span class="icon-gradient" (click)="selectIcon($event)" ></span>
      <span class="icon-gradient2" (click)="selectIcon($event)" ></span>
      <span class="icon-magic-wand" (click)="selectIcon($event)" ></span>
      <span class="icon-magnet" (click)="selectIcon($event)" ></span>
      <span class="icon-pencil-ruler" (click)="selectIcon($event)" ></span>
      <span class="icon-pencil-ruler2" (click)="selectIcon($event)" ></span>
      <span class="icon-compass" (click)="selectIcon($event)" ></span>
      <span class="icon-aim" (click)="selectIcon($event)" ></span>
      <span class="icon-gun" (click)="selectIcon($event)" ></span>
      <span class="icon-bottle" (click)="selectIcon($event)" ></span>
      <span class="icon-drop" (click)="selectIcon($event)" ></span>
      <span class="icon-drop-crossed" (click)="selectIcon($event)" ></span>
      <span class="icon-drop2" (click)="selectIcon($event)" ></span>
      <span class="icon-snow" (click)="selectIcon($event)" ></span>
      <span class="icon-snow2" (click)="selectIcon($event)" ></span>
      <span class="icon-fire" (click)="selectIcon($event)" ></span>
      <span class="icon-lighter" (click)="selectIcon($event)" ></span>
      <span class="icon-knife" (click)="selectIcon($event)" ></span>
      <span class="icon-dagger" (click)="selectIcon($event)" ></span>
      <span class="icon-tissue" (click)="selectIcon($event)" ></span>
      <span class="icon-toilet-paper" (click)="selectIcon($event)" ></span>
      <span class="icon-poop" (click)="selectIcon($event)" ></span>
      <span class="icon-umbrella" (click)="selectIcon($event)" ></span>
      <span class="icon-umbrella2" (click)="selectIcon($event)" ></span>
      <span class="icon-rain" (click)="selectIcon($event)" ></span>
      <span class="icon-tornado" (click)="selectIcon($event)" ></span>
      <span class="icon-wind" (click)="selectIcon($event)" ></span>
      <span class="icon-fan" (click)="selectIcon($event)" ></span>
      <span class="icon-contrast" (click)="selectIcon($event)" ></span>
      <span class="icon-sun-small" (click)="selectIcon($event)" ></span>
      <span class="icon-sun" (click)="selectIcon($event)" ></span>
      <span class="icon-sun2" (click)="selectIcon($event)" ></span>
      <span class="icon-moon" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-upload" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-download" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-rain" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-hailstones" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-snow" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-windy" (click)="selectIcon($event)" ></span>
      <span class="icon-sun-wind" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-fog" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-sun" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-lightning" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-sync" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-lock" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-gear" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-alert" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-check" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-cross" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-crossed" (click)="selectIcon($event)" ></span>
      <span class="icon-cloud-database" (click)="selectIcon($event)" ></span>
      <span class="icon-database" (click)="selectIcon($event)" ></span>
      <span class="icon-database-add" (click)="selectIcon($event)" ></span>
      <span class="icon-database-remove" (click)="selectIcon($event)" ></span>
      <span class="icon-database-lock" (click)="selectIcon($event)" ></span>
      <span class="icon-database-refresh" (click)="selectIcon($event)" ></span>
      <span class="icon-database-check" (click)="selectIcon($event)" ></span>
      <span class="icon-database-history" (click)="selectIcon($event)" ></span>
      <span class="icon-database-upload" (click)="selectIcon($event)" ></span>
      <span class="icon-database-download" (click)="selectIcon($event)" ></span>
      <span class="icon-server" (click)="selectIcon($event)" ></span>
      <span class="icon-shield" (click)="selectIcon($event)" ></span>
      <span class="icon-shield-check" (click)="selectIcon($event)" ></span>
      <span class="icon-shield-alert" (click)="selectIcon($event)" ></span>
      <span class="icon-shield-cross" (click)="selectIcon($event)" ></span>
      <span class="icon-lock" (click)="selectIcon($event)" ></span>
      <span class="icon-rotation-lock" (click)="selectIcon($event)" ></span>
      <span class="icon-unlock" (click)="selectIcon($event)" ></span>
      <span class="icon-key" (click)="selectIcon($event)" ></span>
      <span class="icon-key-hole" (click)="selectIcon($event)" ></span>
      <span class="icon-toggle-off" (click)="selectIcon($event)" ></span>
      <span class="icon-toggle-on" (click)="selectIcon($event)" ></span>
      <span class="icon-cog" (click)="selectIcon($event)" ></span>
      <span class="icon-cog2" (click)="selectIcon($event)" ></span>
      <span class="icon-wrench" (click)="selectIcon($event)" ></span>
      <span class="icon-screwdriver" (click)="selectIcon($event)" ></span>
      <span class="icon-hammer-wrench" (click)="selectIcon($event)" ></span>
      <span class="icon-hammer" (click)="selectIcon($event)" ></span>
      <span class="icon-saw" (click)="selectIcon($event)" ></span>
      <span class="icon-axe" (click)="selectIcon($event)" ></span>
      <span class="icon-axe2" (click)="selectIcon($event)" ></span>
      <span class="icon-shovel" (click)="selectIcon($event)" ></span>
      <span class="icon-pickaxe" (click)="selectIcon($event)" ></span>
      <span class="icon-factory" (click)="selectIcon($event)" ></span>
      <span class="icon-factory2" (click)="selectIcon($event)" ></span>
      <span class="icon-recycle" (click)="selectIcon($event)" ></span>
      <span class="icon-trash" (click)="selectIcon($event)" ></span>
      <span class="icon-trash2" (click)="selectIcon($event)" ></span>
      <span class="icon-trash3" (click)="selectIcon($event)" ></span>
      <span class="icon-broom" (click)="selectIcon($event)" ></span>
      <span class="icon-game" (click)="selectIcon($event)" ></span>
      <span class="icon-gamepad" (click)="selectIcon($event)" ></span>
      <span class="icon-joystick" (click)="selectIcon($event)" ></span>
      <span class="icon-dice" (click)="selectIcon($event)" ></span>
      <span class="icon-spades" (click)="selectIcon($event)" ></span>
      <span class="icon-diamonds" (click)="selectIcon($event)" ></span>
      <span class="icon-clubs" (click)="selectIcon($event)" ></span>
      <span class="icon-hearts" (click)="selectIcon($event)" ></span>
      <span class="icon-heart" (click)="selectIcon($event)" ></span>
      <span class="icon-star" (click)="selectIcon($event)" ></span>
      <span class="icon-star-half" (click)="selectIcon($event)" ></span>
      <span class="icon-star-empty" (click)="selectIcon($event)" ></span>
      <span class="icon-flag" (click)="selectIcon($event)" ></span>
      <span class="icon-flag2" (click)="selectIcon($event)" ></span>
      <span class="icon-flag3" (click)="selectIcon($event)" ></span>
      <span class="icon-mailbox-full" (click)="selectIcon($event)" ></span>
      <span class="icon-mailbox-empty" (click)="selectIcon($event)" ></span>
      <span class="icon-at-sign" (click)="selectIcon($event)" ></span>
      <span class="icon-envelope" (click)="selectIcon($event)" ></span>
      <span class="icon-envelope-open" (click)="selectIcon($event)" ></span>
      <span class="icon-paperclip" (click)="selectIcon($event)" ></span>
      <span class="icon-paper-plane" (click)="selectIcon($event)" ></span>
      <span class="icon-reply" (click)="selectIcon($event)" ></span>
      <span class="icon-reply-all" (click)="selectIcon($event)" ></span>
      <span class="icon-inbox" (click)="selectIcon($event)" ></span>
      <span class="icon-inbox2" (click)="selectIcon($event)" ></span>
      <span class="icon-outbox" (click)="selectIcon($event)" ></span>
      <span class="icon-box" (click)="selectIcon($event)" ></span>
      <span class="icon-archive" (click)="selectIcon($event)" ></span>
      <span class="icon-archive2" (click)="selectIcon($event)" ></span>
      <span class="icon-drawers" (click)="selectIcon($event)" ></span>
      <span class="icon-drawers2" (click)="selectIcon($event)" ></span>
      <span class="icon-drawers3" (click)="selectIcon($event)" ></span>
      <span class="icon-eye" (click)="selectIcon($event)" ></span>
      <span class="icon-eye-crossed" (click)="selectIcon($event)" ></span>
      <span class="icon-eye-plus" (click)="selectIcon($event)" ></span>
      <span class="icon-eye-minus" (click)="selectIcon($event)" ></span>
      <span class="icon-binoculars" (click)="selectIcon($event)" ></span>
      <span class="icon-binoculars2" (click)="selectIcon($event)" ></span>
      <span class="icon-hdd" (click)="selectIcon($event)" ></span>
      <span class="icon-hdd-down" (click)="selectIcon($event)" ></span>
      <span class="icon-hdd-up" (click)="selectIcon($event)" ></span>
      <span class="icon-floppy-disk" (click)="selectIcon($event)" ></span>
      <span class="icon-disc" (click)="selectIcon($event)" ></span>
      <span class="icon-tape2" (click)="selectIcon($event)" ></span>
      <span class="icon-printer" (click)="selectIcon($event)" ></span>
      <span class="icon-shredder" (click)="selectIcon($event)" ></span>
      <span class="icon-file-empty" (click)="selectIcon($event)" ></span>
      <span class="icon-file-add" (click)="selectIcon($event)" ></span>
      <span class="icon-file-check" (click)="selectIcon($event)" ></span>
      <span class="icon-file-lock" (click)="selectIcon($event)" ></span>
      <span class="icon-files" (click)="selectIcon($event)" ></span>
      <span class="icon-copy" (click)="selectIcon($event)" ></span>
      <span class="icon-compare" (click)="selectIcon($event)" ></span>
      <span class="icon-folder" (click)="selectIcon($event)" ></span>
      <span class="icon-folder-search" (click)="selectIcon($event)" ></span>
      <span class="icon-folder-plus" (click)="selectIcon($event)" ></span>
      <span class="icon-folder-minus" (click)="selectIcon($event)" ></span>
      <span class="icon-folder-download" (click)="selectIcon($event)" ></span>
      <span class="icon-folder-upload" (click)="selectIcon($event)" ></span>
      <span class="icon-folder-star" (click)="selectIcon($event)" ></span>
      <span class="icon-folder-heart" (click)="selectIcon($event)" ></span>
      <span class="icon-folder-user" (click)="selectIcon($event)" ></span>
      <span class="icon-folder-shared" (click)="selectIcon($event)" ></span>
      <span class="icon-folder-music" (click)="selectIcon($event)" ></span>
      <span class="icon-folder-picture" (click)="selectIcon($event)" ></span>
      <span class="icon-folder-film" (click)="selectIcon($event)" ></span>
      <span class="icon-scissors" (click)="selectIcon($event)" ></span>
      <span class="icon-paste" (click)="selectIcon($event)" ></span>
      <span class="icon-clipboard-empty" (click)="selectIcon($event)" ></span>
      <span class="icon-clipboard-pencil" (click)="selectIcon($event)" ></span>
      <span class="icon-clipboard-text" (click)="selectIcon($event)" ></span>
      <span class="icon-clipboard-check" (click)="selectIcon($event)" ></span>
      <span class="icon-clipboard-down" (click)="selectIcon($event)" ></span>
      <span class="icon-clipboard-left" (click)="selectIcon($event)" ></span>
      <span class="icon-clipboard-alert" (click)="selectIcon($event)" ></span>
      <span class="icon-clipboard-user" (click)="selectIcon($event)" ></span>
      <span class="icon-register" (click)="selectIcon($event)" ></span>
      <span class="icon-enter" (click)="selectIcon($event)" ></span>
      <span class="icon-exit" (click)="selectIcon($event)" ></span>
      <span class="icon-papers" (click)="selectIcon($event)" ></span>
      <span class="icon-news" (click)="selectIcon($event)" ></span>
      <span class="icon-reading" (click)="selectIcon($event)" ></span>
      <span class="icon-typewriter" (click)="selectIcon($event)" ></span>
      <span class="icon-document" (click)="selectIcon($event)" ></span>
      <span class="icon-document2" (click)="selectIcon($event)" ></span>
      <span class="icon-graduation-hat" (click)="selectIcon($event)" ></span>
      <span class="icon-license" (click)="selectIcon($event)" ></span>
      <span class="icon-license2" (click)="selectIcon($event)" ></span>
      <span class="icon-medal-empty" (click)="selectIcon($event)" ></span>
      <span class="icon-medal-first" (click)="selectIcon($event)" ></span>
      <span class="icon-medal-second" (click)="selectIcon($event)" ></span>
      <span class="icon-medal-third" (click)="selectIcon($event)" ></span>
      <span class="icon-podium" (click)="selectIcon($event)" ></span>
      <span class="icon-trophy" (click)="selectIcon($event)" ></span>
      <span class="icon-trophy2" (click)="selectIcon($event)" ></span>
      <span class="icon-music-note" (click)="selectIcon($event)" ></span>
      <span class="icon-music-note2" (click)="selectIcon($event)" ></span>
      <span class="icon-music-note3" (click)="selectIcon($event)" ></span>
      <span class="icon-playlist" (click)="selectIcon($event)" ></span>
      <span class="icon-playlist-add" (click)="selectIcon($event)" ></span>
      <span class="icon-guitar" (click)="selectIcon($event)" ></span>
      <span class="icon-trumpet" (click)="selectIcon($event)" ></span>
      <span class="icon-album" (click)="selectIcon($event)" ></span>
      <span class="icon-shuffle" (click)="selectIcon($event)" ></span>
      <span class="icon-repeat-one" (click)="selectIcon($event)" ></span>
      <span class="icon-repeat" (click)="selectIcon($event)" ></span>
      <span class="icon-headphones" (click)="selectIcon($event)" ></span>
      <span class="icon-headset" (click)="selectIcon($event)" ></span>
      <span class="icon-loudspeaker" (click)="selectIcon($event)" ></span>
      <span class="icon-equalizer" (click)="selectIcon($event)" ></span>
      <span class="icon-theater" (click)="selectIcon($event)" ></span>
      <span class="icon-3d-glasses" (click)="selectIcon($event)" ></span>
      <span class="icon-ticket" (click)="selectIcon($event)" ></span>
      <span class="icon-presentation" (click)="selectIcon($event)" ></span>
      <span class="icon-play" (click)="selectIcon($event)" ></span>
      <span class="icon-film-play" (click)="selectIcon($event)" ></span>
      <span class="icon-clapboard-play" (click)="selectIcon($event)" ></span>
      <span class="icon-media" (click)="selectIcon($event)" ></span>
      <span class="icon-film" (click)="selectIcon($event)" ></span>
      <span class="icon-film2" (click)="selectIcon($event)" ></span>
      <span class="icon-surveillance" (click)="selectIcon($event)" ></span>
      <span class="icon-surveillance2" (click)="selectIcon($event)" ></span>
      <span class="icon-camera" (click)="selectIcon($event)" ></span>
      <span class="icon-camera-crossed" (click)="selectIcon($event)" ></span>
      <span class="icon-camera-play" (click)="selectIcon($event)" ></span>
      <span class="icon-time-lapse" (click)="selectIcon($event)" ></span>
      <span class="icon-record" (click)="selectIcon($event)" ></span>
      <span class="icon-camera2" (click)="selectIcon($event)" ></span>
      <span class="icon-camera-flip" (click)="selectIcon($event)" ></span>
      <span class="icon-panorama" (click)="selectIcon($event)" ></span>
      <span class="icon-time-lapse2" (click)="selectIcon($event)" ></span>
      <span class="icon-shutter" (click)="selectIcon($event)" ></span>
      <span class="icon-shutter2" (click)="selectIcon($event)" ></span>
      <span class="icon-face-detection" (click)="selectIcon($event)" ></span>
      <span class="icon-flare" (click)="selectIcon($event)" ></span>
      <span class="icon-convex" (click)="selectIcon($event)" ></span>
      <span class="icon-concave" (click)="selectIcon($event)" ></span>
      <span class="icon-picture" (click)="selectIcon($event)" ></span>
      <span class="icon-picture2" (click)="selectIcon($event)" ></span>
      <span class="icon-picture3" (click)="selectIcon($event)" ></span>
      <span class="icon-pictures" (click)="selectIcon($event)" ></span>
      <span class="icon-book" (click)="selectIcon($event)" ></span>
      <span class="icon-audio-book" (click)="selectIcon($event)" ></span>
      <span class="icon-book2" (click)="selectIcon($event)" ></span>
      <span class="icon-bookmark" (click)="selectIcon($event)" ></span>
      <span class="icon-bookmark2" (click)="selectIcon($event)" ></span>
      <span class="icon-label" (click)="selectIcon($event)" ></span>
      <span class="icon-library" (click)="selectIcon($event)" ></span>
      <span class="icon-library2" (click)="selectIcon($event)" ></span>
      <span class="icon-contacts" (click)="selectIcon($event)" ></span>
      <span class="icon-profile" (click)="selectIcon($event)" ></span>
      <span class="icon-portrait" (click)="selectIcon($event)" ></span>
      <span class="icon-portrait2" (click)="selectIcon($event)" ></span>
      <span class="icon-user" (click)="selectIcon($event)" ></span>
      <span class="icon-user-plus" (click)="selectIcon($event)" ></span>
      <span class="icon-user-minus" (click)="selectIcon($event)" ></span>
      <span class="icon-user-lock" (click)="selectIcon($event)" ></span>
      <span class="icon-users" (click)="selectIcon($event)" ></span>
      <span class="icon-users2" (click)="selectIcon($event)" ></span>
      <span class="icon-users-plus" (click)="selectIcon($event)" ></span>
      <span class="icon-users-minus" (click)="selectIcon($event)" ></span>
      <span class="icon-group-work" (click)="selectIcon($event)" ></span>
      <span class="icon-woman" (click)="selectIcon($event)" ></span>
      <span class="icon-man" (click)="selectIcon($event)" ></span>
      <span class="icon-baby" (click)="selectIcon($event)" ></span>
      <span class="icon-baby2" (click)="selectIcon($event)" ></span>
      <span class="icon-baby3" (click)="selectIcon($event)" ></span>
      <span class="icon-baby-bottle" (click)="selectIcon($event)" ></span>
      <span class="icon-walk" (click)="selectIcon($event)" ></span>
      <span class="icon-hand-waving" (click)="selectIcon($event)" ></span>
      <span class="icon-jump" (click)="selectIcon($event)" ></span>
      <span class="icon-run" (click)="selectIcon($event)" ></span>
      <span class="icon-woman2" (click)="selectIcon($event)" ></span>
      <span class="icon-man2" (click)="selectIcon($event)" ></span>
      <span class="icon-man-woman" (click)="selectIcon($event)" ></span>
      <span class="icon-height" (click)="selectIcon($event)" ></span>
      <span class="icon-weight" (click)="selectIcon($event)" ></span>
      <span class="icon-scale" (click)="selectIcon($event)" ></span>
      <span class="icon-button" (click)="selectIcon($event)" ></span>
      <span class="icon-bow-tie" (click)="selectIcon($event)" ></span>
      <span class="icon-tie" (click)="selectIcon($event)" ></span>
      <span class="icon-socks" (click)="selectIcon($event)" ></span>
      <span class="icon-shoe" (click)="selectIcon($event)" ></span>
      <span class="icon-shoes" (click)="selectIcon($event)" ></span>
      <span class="icon-hat" (click)="selectIcon($event)" ></span>
      <span class="icon-pants" (click)="selectIcon($event)" ></span>
      <span class="icon-shorts" (click)="selectIcon($event)" ></span>
      <span class="icon-flip-flops" (click)="selectIcon($event)" ></span>
      <span class="icon-shirt" (click)="selectIcon($event)" ></span>
      <span class="icon-hanger" (click)="selectIcon($event)" ></span>
      <span class="icon-laundry" (click)="selectIcon($event)" ></span>
      <span class="icon-store" (click)="selectIcon($event)" ></span>
      <span class="icon-haircut" (click)="selectIcon($event)" ></span>
      <span class="icon-store-24" (click)="selectIcon($event)" ></span>
      <span class="icon-barcode" (click)="selectIcon($event)" ></span>
      <span class="icon-barcode2" (click)="selectIcon($event)" ></span>
      <span class="icon-barcode3" (click)="selectIcon($event)" ></span>
      <span class="icon-cashier" (click)="selectIcon($event)" ></span>
      <span class="icon-bag" (click)="selectIcon($event)" ></span>
      <span class="icon-bag2" (click)="selectIcon($event)" ></span>
      <span class="icon-cart" (click)="selectIcon($event)" ></span>
      <span class="icon-cart-empty" (click)="selectIcon($event)" ></span>
      <span class="icon-cart-full" (click)="selectIcon($event)" ></span>
      <span class="icon-cart-plus" (click)="selectIcon($event)" ></span>
      <span class="icon-cart-plus2" (click)="selectIcon($event)" ></span>
      <span class="icon-cart-add" (click)="selectIcon($event)" ></span>
      <span class="icon-cart-remove" (click)="selectIcon($event)" ></span>
      <span class="icon-cart-exchange" (click)="selectIcon($event)" ></span>
      <span class="icon-tag" (click)="selectIcon($event)" ></span>
      <span class="icon-tags" (click)="selectIcon($event)" ></span>
      <span class="icon-receipt" (click)="selectIcon($event)" ></span>
      <span class="icon-wallet" (click)="selectIcon($event)" ></span>
      <span class="icon-credit-card" (click)="selectIcon($event)" ></span>
      <span class="icon-cash-dollar" (click)="selectIcon($event)" ></span>
      <span class="icon-cash-euro" (click)="selectIcon($event)" ></span>
      <span class="icon-cash-pound" (click)="selectIcon($event)" ></span>
      <span class="icon-cash-yen" (click)="selectIcon($event)" ></span>
      <span class="icon-bag-dollar" (click)="selectIcon($event)" ></span>
      <span class="icon-bag-euro" (click)="selectIcon($event)" ></span>
      <span class="icon-bag-pound" (click)="selectIcon($event)" ></span>
      <span class="icon-bag-yen" (click)="selectIcon($event)" ></span>
      <span class="icon-coin-dollar" (click)="selectIcon($event)" ></span>
      <span class="icon-coin-euro" (click)="selectIcon($event)" ></span>
      <span class="icon-coin-pound" (click)="selectIcon($event)" ></span>
      <span class="icon-coin-yen" (click)="selectIcon($event)" ></span>
      <span class="icon-calculator" (click)="selectIcon($event)" ></span>
      <span class="icon-calculator2" (click)="selectIcon($event)" ></span>
      <span class="icon-abacus" (click)="selectIcon($event)" ></span>
      <span class="icon-vault" (click)="selectIcon($event)" ></span>
      <span class="icon-telephone" (click)="selectIcon($event)" ></span>
      <span class="icon-phone-lock" (click)="selectIcon($event)" ></span>
      <span class="icon-phone-wave" (click)="selectIcon($event)" ></span>
      <span class="icon-phone-pause" (click)="selectIcon($event)" ></span>
      <span class="icon-phone-outgoing" (click)="selectIcon($event)" ></span>
      <span class="icon-phone-incoming" (click)="selectIcon($event)" ></span>
      <span class="icon-phone-in-out" (click)="selectIcon($event)" ></span>
      <span class="icon-phone-error" (click)="selectIcon($event)" ></span>
      <span class="icon-phone-sip" (click)="selectIcon($event)" ></span>
      <span class="icon-phone-plus" (click)="selectIcon($event)" ></span>
      <span class="icon-phone-minus" (click)="selectIcon($event)" ></span>
      <span class="icon-voicemail" (click)="selectIcon($event)" ></span>
      <span class="icon-dial" (click)="selectIcon($event)" ></span>
      <span class="icon-telephone2" (click)="selectIcon($event)" ></span>
      <span class="icon-pushpin" (click)="selectIcon($event)" ></span>
      <span class="icon-pushpin2" (click)="selectIcon($event)" ></span>
      <span class="icon-map-marker" (click)="selectIcon($event)" ></span>
      <span class="icon-map-marker-user" (click)="selectIcon($event)" ></span>
      <span class="icon-map-marker-down" (click)="selectIcon($event)" ></span>
      <span class="icon-map-marker-check" (click)="selectIcon($event)" ></span>
      <span class="icon-map-marker-crossed" (click)="selectIcon($event)" ></span>
      <span class="icon-radar" (click)="selectIcon($event)" ></span>
      <span class="icon-compass2" (click)="selectIcon($event)" ></span>
      <span class="icon-map" (click)="selectIcon($event)" ></span>
      <span class="icon-map2" (click)="selectIcon($event)" ></span>
      <span class="icon-location" (click)="selectIcon($event)" ></span>
      <span class="icon-road-sign" (click)="selectIcon($event)" ></span>
      <span class="icon-calendar-empty" (click)="selectIcon($event)" ></span>
      <span class="icon-calendar-check" (click)="selectIcon($event)" ></span>
      <span class="icon-calendar-cross" (click)="selectIcon($event)" ></span>
      <span class="icon-calendar-31" (click)="selectIcon($event)" ></span>
      <span class="icon-calendar-full" (click)="selectIcon($event)" ></span>
      <span class="icon-calendar-insert" (click)="selectIcon($event)" ></span>
      <span class="icon-calendar-text" (click)="selectIcon($event)" ></span>
      <span class="icon-calendar-user" (click)="selectIcon($event)" ></span>
      <span class="icon-mouse" (click)="selectIcon($event)" ></span>
      <span class="icon-mouse-left" (click)="selectIcon($event)" ></span>
      <span class="icon-mouse-right" (click)="selectIcon($event)" ></span>
      <span class="icon-mouse-both" (click)="selectIcon($event)" ></span>
      <span class="icon-keyboard" (click)="selectIcon($event)" ></span>
      <span class="icon-keyboard-up" (click)="selectIcon($event)" ></span>
      <span class="icon-keyboard-down" (click)="selectIcon($event)" ></span>
      <span class="icon-delete" (click)="selectIcon($event)" ></span>
      <span class="icon-spell-check" (click)="selectIcon($event)" ></span>
      <span class="icon-escape" (click)="selectIcon($event)" ></span>
      <span class="icon-enter2" (click)="selectIcon($event)" ></span>
      <span class="icon-screen" (click)="selectIcon($event)" ></span>
      <span class="icon-aspect-ratio" (click)="selectIcon($event)" ></span>
      <span class="icon-signal" (click)="selectIcon($event)" ></span>
      <span class="icon-signal-lock" (click)="selectIcon($event)" ></span>
      <span class="icon-signal-80" (click)="selectIcon($event)" ></span>
      <span class="icon-signal-60" (click)="selectIcon($event)" ></span>
      <span class="icon-signal-40" (click)="selectIcon($event)" ></span>
      <span class="icon-signal-20" (click)="selectIcon($event)" ></span>
      <span class="icon-signal-0" (click)="selectIcon($event)" ></span>
      <span class="icon-signal-blocked" (click)="selectIcon($event)" ></span>
      <span class="icon-sim" (click)="selectIcon($event)" ></span>
      <span class="icon-flash-memory" (click)="selectIcon($event)" ></span>
      <span class="icon-usb-drive" (click)="selectIcon($event)" ></span>
      <span class="icon-phone" (click)="selectIcon($event)" ></span>
      <span class="icon-smartphone" (click)="selectIcon($event)" ></span>
      <span class="icon-smartphone-notification" (click)="selectIcon($event)" ></span>
      <span class="icon-smartphone-vibration" (click)="selectIcon($event)" ></span>
      <span class="icon-smartphone-embed" (click)="selectIcon($event)" ></span>
      <span class="icon-smartphone-waves" (click)="selectIcon($event)" ></span>
      <span class="icon-tablet" (click)="selectIcon($event)" ></span>
      <span class="icon-tablet2" (click)="selectIcon($event)" ></span>
      <span class="icon-laptop" (click)="selectIcon($event)" ></span>
      <span class="icon-laptop-phone" (click)="selectIcon($event)" ></span>
      <span class="icon-desktop" (click)="selectIcon($event)" ></span>
      <span class="icon-launch" (click)="selectIcon($event)" ></span>
      <span class="icon-new-tab" (click)="selectIcon($event)" ></span>
      <span class="icon-window" (click)="selectIcon($event)" ></span>
      <span class="icon-cable" (click)="selectIcon($event)" ></span>
      <span class="icon-cable2" (click)="selectIcon($event)" ></span>
      <span class="icon-tv" (click)="selectIcon($event)" ></span>
      <span class="icon-radio" (click)="selectIcon($event)" ></span>
      <span class="icon-remote-control" (click)="selectIcon($event)" ></span>
      <span class="icon-power-switch" (click)="selectIcon($event)" ></span>
      <span class="icon-power" (click)="selectIcon($event)" ></span>
      <span class="icon-power-crossed" (click)="selectIcon($event)" ></span>
      <span class="icon-flash-auto" (click)="selectIcon($event)" ></span>
      <span class="icon-lamp" (click)="selectIcon($event)" ></span>
      <span class="icon-flashlight" (click)="selectIcon($event)" ></span>
      <span class="icon-lampshade" (click)="selectIcon($event)" ></span>
      <span class="icon-cord" (click)="selectIcon($event)" ></span>
      <span class="icon-outlet" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-power" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-empty" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-alert" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-error" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-low1" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-low2" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-low3" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-mid1" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-mid2" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-mid3" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-full" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-charging" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-charging2" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-charging3" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-charging4" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-charging5" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-charging6" (click)="selectIcon($event)" ></span>
      <span class="icon-battery-charging7" (click)="selectIcon($event)" ></span>
      <span class="icon-chip" (click)="selectIcon($event)" ></span>
      <span class="icon-chip-x64" (click)="selectIcon($event)" ></span>
      <span class="icon-chip-x86" (click)="selectIcon($event)" ></span>
      <span class="icon-bubble" (click)="selectIcon($event)" ></span>
      <span class="icon-bubbles" (click)="selectIcon($event)" ></span>
      <span class="icon-bubble-dots" (click)="selectIcon($event)" ></span>
      <span class="icon-bubble-alert" (click)="selectIcon($event)" ></span>
      <span class="icon-bubble-question" (click)="selectIcon($event)" ></span>
      <span class="icon-bubble-text" (click)="selectIcon($event)" ></span>
      <span class="icon-bubble-pencil" (click)="selectIcon($event)" ></span>
      <span class="icon-bubble-picture" (click)="selectIcon($event)" ></span>
      <span class="icon-bubble-video" (click)="selectIcon($event)" ></span>
      <span class="icon-bubble-user" (click)="selectIcon($event)" ></span>
      <span class="icon-bubble-quote" (click)="selectIcon($event)" ></span>
      <span class="icon-bubble-heart" (click)="selectIcon($event)" ></span>
      <span class="icon-bubble-emoticon" (click)="selectIcon($event)" ></span>
      <span class="icon-bubble-attachment" (click)="selectIcon($event)" ></span>
      <span class="icon-phone-bubble" (click)="selectIcon($event)" ></span>
      <span class="icon-quote-open" (click)="selectIcon($event)" ></span>
      <span class="icon-quote-close" (click)="selectIcon($event)" ></span>
      <span class="icon-dna" (click)="selectIcon($event)" ></span>
      <span class="icon-heart-pulse" (click)="selectIcon($event)" ></span>
      <span class="icon-pulse" (click)="selectIcon($event)" ></span>
      <span class="icon-syringe" (click)="selectIcon($event)" ></span>
      <span class="icon-pills" (click)="selectIcon($event)" ></span>
      <span class="icon-first-aid" (click)="selectIcon($event)" ></span>
      <span class="icon-lifebuoy" (click)="selectIcon($event)" ></span>
      <span class="icon-bandage" (click)="selectIcon($event)" ></span>
      <span class="icon-bandages" (click)="selectIcon($event)" ></span>
      <span class="icon-thermometer" (click)="selectIcon($event)" ></span>
      <span class="icon-microscope" (click)="selectIcon($event)" ></span>
      <span class="icon-brain" (click)="selectIcon($event)" ></span>
      <span class="icon-beaker" (click)="selectIcon($event)" ></span>
      <span class="icon-skull" (click)="selectIcon($event)" ></span>
      <span class="icon-bone" (click)="selectIcon($event)" ></span>
      <span class="icon-construction" (click)="selectIcon($event)" ></span>
      <span class="icon-construction-cone" (click)="selectIcon($event)" ></span>
      <span class="icon-pie-chart" (click)="selectIcon($event)" ></span>
      <span class="icon-pie-chart2" (click)="selectIcon($event)" ></span>
      <span class="icon-graph" (click)="selectIcon($event)" ></span>
      <span class="icon-chart-growth" (click)="selectIcon($event)" ></span>
      <span class="icon-chart-bars" (click)="selectIcon($event)" ></span>
      <span class="icon-chart-settings" (click)="selectIcon($event)" ></span>
      <span class="icon-cake" (click)="selectIcon($event)" ></span>
      <span class="icon-gift" (click)="selectIcon($event)" ></span>
      <span class="icon-balloon" (click)="selectIcon($event)" ></span>
      <span class="icon-rank" (click)="selectIcon($event)" ></span>
      <span class="icon-rank2" (click)="selectIcon($event)" ></span>
      <span class="icon-rank3" (click)="selectIcon($event)" ></span>
      <span class="icon-crown" (click)="selectIcon($event)" ></span>
      <span class="icon-lotus" (click)="selectIcon($event)" ></span>
      <span class="icon-diamond" (click)="selectIcon($event)" ></span>
      <span class="icon-diamond2" (click)="selectIcon($event)" ></span>
      <span class="icon-diamond3" (click)="selectIcon($event)" ></span>
      <span class="icon-diamond4" (click)="selectIcon($event)" ></span>
      <span class="icon-linearicons" (click)="selectIcon($event)" ></span>
      <span class="icon-teacup" (click)="selectIcon($event)" ></span>
      <span class="icon-teapot" (click)="selectIcon($event)" ></span>
      <span class="icon-glass" (click)="selectIcon($event)" ></span>
      <span class="icon-bottle2" (click)="selectIcon($event)" ></span>
      <span class="icon-glass-cocktail" (click)="selectIcon($event)" ></span>
      <span class="icon-glass2" (click)="selectIcon($event)" ></span>
      <span class="icon-dinner" (click)="selectIcon($event)" ></span>
      <span class="icon-dinner2" (click)="selectIcon($event)" ></span>
      <span class="icon-chef" (click)="selectIcon($event)" ></span>
      <span class="icon-scale2" (click)="selectIcon($event)" ></span>
      <span class="icon-egg" (click)="selectIcon($event)" ></span>
      <span class="icon-egg2" (click)="selectIcon($event)" ></span>
      <span class="icon-eggs" (click)="selectIcon($event)" ></span>
      <span class="icon-platter" (click)="selectIcon($event)" ></span>
      <span class="icon-steak" (click)="selectIcon($event)" ></span>
      <span class="icon-hamburger" (click)="selectIcon($event)" ></span>
      <span class="icon-hotdog" (click)="selectIcon($event)" ></span>
      <span class="icon-pizza" (click)="selectIcon($event)" ></span>
      <span class="icon-sausage" (click)="selectIcon($event)" ></span>
      <span class="icon-chicken" (click)="selectIcon($event)" ></span>
      <span class="icon-fish" (click)="selectIcon($event)" ></span>
      <span class="icon-carrot" (click)="selectIcon($event)" ></span>
      <span class="icon-cheese" (click)="selectIcon($event)" ></span>
      <span class="icon-bread" (click)="selectIcon($event)" ></span>
      <span class="icon-ice-cream" (click)="selectIcon($event)" ></span>
      <span class="icon-ice-cream2" (click)="selectIcon($event)" ></span>
      <span class="icon-candy" (click)="selectIcon($event)" ></span>
      <span class="icon-lollipop" (click)="selectIcon($event)" ></span>
      <span class="icon-coffee-bean" (click)="selectIcon($event)" ></span>
      <span class="icon-coffee-cup" (click)="selectIcon($event)" ></span>
      <span class="icon-cherry" (click)="selectIcon($event)" ></span>
      <span class="icon-grapes" (click)="selectIcon($event)" ></span>
      <span class="icon-citrus" (click)="selectIcon($event)" ></span>
      <span class="icon-apple" (click)="selectIcon($event)" ></span>
      <span class="icon-leaf" (click)="selectIcon($event)" ></span>
      <span class="icon-landscape" (click)="selectIcon($event)" ></span>
      <span class="icon-pine-tree" (click)="selectIcon($event)" ></span>
      <span class="icon-tree" (click)="selectIcon($event)" ></span>
      <span class="icon-cactus" (click)="selectIcon($event)" ></span>
      <span class="icon-paw" (click)="selectIcon($event)" ></span>
      <span class="icon-footprint" (click)="selectIcon($event)" ></span>
      <span class="icon-speed-slow" (click)="selectIcon($event)" ></span>
      <span class="icon-speed-medium" (click)="selectIcon($event)" ></span>
      <span class="icon-speed-fast" (click)="selectIcon($event)" ></span>
      <span class="icon-rocket" (click)="selectIcon($event)" ></span>
      <span class="icon-hammer2" (click)="selectIcon($event)" ></span>
      <span class="icon-balance" (click)="selectIcon($event)" ></span>
      <span class="icon-briefcase" (click)="selectIcon($event)" ></span>
      <span class="icon-luggage-weight" (click)="selectIcon($event)" ></span>
      <span class="icon-dolly" (click)="selectIcon($event)" ></span>
      <span class="icon-plane" (click)="selectIcon($event)" ></span>
      <span class="icon-plane-crossed" (click)="selectIcon($event)" ></span>
      <span class="icon-helicopter" (click)="selectIcon($event)" ></span>
      <span class="icon-traffic-lights" (click)="selectIcon($event)" ></span>
      <span class="icon-siren" (click)="selectIcon($event)" ></span>
      <span class="icon-road" (click)="selectIcon($event)" ></span>
      <span class="icon-engine" (click)="selectIcon($event)" ></span>
      <span class="icon-oil-pressure" (click)="selectIcon($event)" ></span>
      <span class="icon-coolant-temperature" (click)="selectIcon($event)" ></span>
      <span class="icon-car-battery" (click)="selectIcon($event)" ></span>
      <span class="icon-gas" (click)="selectIcon($event)" ></span>
      <span class="icon-gallon" (click)="selectIcon($event)" ></span>
      <span class="icon-transmission" (click)="selectIcon($event)" ></span>
      <span class="icon-car" (click)="selectIcon($event)" ></span>
      <span class="icon-car-wash" (click)="selectIcon($event)" ></span>
      <span class="icon-car-wash2" (click)="selectIcon($event)" ></span>
      <span class="icon-bus" (click)="selectIcon($event)" ></span>
      <span class="icon-bus2" (click)="selectIcon($event)" ></span>
      <span class="icon-car2" (click)="selectIcon($event)" ></span>
      <span class="icon-parking" (click)="selectIcon($event)" ></span>
      <span class="icon-car-lock" (click)="selectIcon($event)" ></span>
      <span class="icon-taxi" (click)="selectIcon($event)" ></span>
      <span class="icon-car-siren" (click)="selectIcon($event)" ></span>
      <span class="icon-car-wash3" (click)="selectIcon($event)" ></span>
      <span class="icon-car-wash4" (click)="selectIcon($event)" ></span>
      <span class="icon-ambulance" (click)="selectIcon($event)" ></span>
      <span class="icon-truck" (click)="selectIcon($event)" ></span>
      <span class="icon-trailer" (click)="selectIcon($event)" ></span>
      <span class="icon-scale-truck" (click)="selectIcon($event)" ></span>
      <span class="icon-train" (click)="selectIcon($event)" ></span>
      <span class="icon-ship" (click)="selectIcon($event)" ></span>
      <span class="icon-ship2" (click)="selectIcon($event)" ></span>
      <span class="icon-anchor" (click)="selectIcon($event)" ></span>
      <span class="icon-boat" (click)="selectIcon($event)" ></span>
      <span class="icon-bicycle" (click)="selectIcon($event)" ></span>
      <span class="icon-bicycle2" (click)="selectIcon($event)" ></span>
      <span class="icon-dumbbell" (click)="selectIcon($event)" ></span>
      <span class="icon-bench-press" (click)="selectIcon($event)" ></span>
      <span class="icon-swim" (click)="selectIcon($event)" ></span>
      <span class="icon-football" (click)="selectIcon($event)" ></span>
      <span class="icon-baseball-bat" (click)="selectIcon($event)" ></span>
      <span class="icon-baseball" (click)="selectIcon($event)" ></span>
      <span class="icon-tennis" (click)="selectIcon($event)" ></span>
      <span class="icon-tennis2" (click)="selectIcon($event)" ></span>
      <span class="icon-ping-pong" (click)="selectIcon($event)" ></span>
      <span class="icon-hockey" (click)="selectIcon($event)" ></span>
      <span class="icon-8ball" (click)="selectIcon($event)" ></span>
      <span class="icon-bowling" (click)="selectIcon($event)" ></span>
      <span class="icon-bowling-pins" (click)="selectIcon($event)" ></span>
      <span class="icon-golf" (click)="selectIcon($event)" ></span>
      <span class="icon-golf2" (click)="selectIcon($event)" ></span>
      <span class="icon-archery" (click)="selectIcon($event)" ></span>
      <span class="icon-slingshot" (click)="selectIcon($event)" ></span>
      <span class="icon-soccer" (click)="selectIcon($event)" ></span>
      <span class="icon-basketball" (click)="selectIcon($event)" ></span>
      <span class="icon-cube" (click)="selectIcon($event)" ></span>
      <span class="icon-3d-rotate" (click)="selectIcon($event)" ></span>
      <span class="icon-puzzle" (click)="selectIcon($event)" ></span>
      <span class="icon-glasses" (click)="selectIcon($event)" ></span>
      <span class="icon-glasses2" (click)="selectIcon($event)" ></span>
      <span class="icon-accessibility" (click)="selectIcon($event)" ></span>
      <span class="icon-wheelchair" (click)="selectIcon($event)" ></span>
      <span class="icon-wall" (click)="selectIcon($event)" ></span>
      <span class="icon-fence" (click)="selectIcon($event)" ></span>
      <span class="icon-wall2" (click)="selectIcon($event)" ></span>
      <span class="icon-icons" (click)="selectIcon($event)" ></span>
      <span class="icon-resize-handle" (click)="selectIcon($event)" ></span>
      <span class="icon-icons2" (click)="selectIcon($event)" ></span>
      <span class="icon-select" (click)="selectIcon($event)" ></span>
      <span class="icon-select2" (click)="selectIcon($event)" ></span>
      <span class="icon-site-map" (click)="selectIcon($event)" ></span>
      <span class="icon-earth" (click)="selectIcon($event)" ></span>
      <span class="icon-earth-lock" (click)="selectIcon($event)" ></span>
      <span class="icon-network" (click)="selectIcon($event)" ></span>
      <span class="icon-network-lock" (click)="selectIcon($event)" ></span>
      <span class="icon-planet" (click)="selectIcon($event)" ></span>
      <span class="icon-happy" (click)="selectIcon($event)" ></span>
      <span class="icon-smile" (click)="selectIcon($event)" ></span>
      <span class="icon-grin" (click)="selectIcon($event)" ></span>
      <span class="icon-tongue" (click)="selectIcon($event)" ></span>
      <span class="icon-sad" (click)="selectIcon($event)" ></span>
      <span class="icon-wink" (click)="selectIcon($event)" ></span>
      <span class="icon-dream" (click)="selectIcon($event)" ></span>
      <span class="icon-shocked" (click)="selectIcon($event)" ></span>
      <span class="icon-shocked2" (click)="selectIcon($event)" ></span>
      <span class="icon-tongue2" (click)="selectIcon($event)" ></span>
      <span class="icon-neutral" (click)="selectIcon($event)" ></span>
      <span class="icon-happy-grin" (click)="selectIcon($event)" ></span>
      <span class="icon-cool" (click)="selectIcon($event)" ></span>
      <span class="icon-mad" (click)="selectIcon($event)" ></span>
      <span class="icon-grin-evil" (click)="selectIcon($event)" ></span>
      <span class="icon-evil" (click)="selectIcon($event)" ></span>
      <span class="icon-wow" (click)="selectIcon($event)" ></span>
      <span class="icon-annoyed" (click)="selectIcon($event)" ></span>
      <span class="icon-wondering" (click)="selectIcon($event)" ></span>
      <span class="icon-confused" (click)="selectIcon($event)" ></span>
      <span class="icon-zipped" (click)="selectIcon($event)" ></span>
      <span class="icon-grumpy" (click)="selectIcon($event)" ></span>
      <span class="icon-mustache" (click)="selectIcon($event)" ></span>
      <span class="icon-tombstone-hipster" (click)="selectIcon($event)" ></span>
      <span class="icon-tombstone" (click)="selectIcon($event)" ></span>
      <span class="icon-ghost" (click)="selectIcon($event)" ></span>
      <span class="icon-ghost-hipster" (click)="selectIcon($event)" ></span>
      <span class="icon-halloween" (click)="selectIcon($event)" ></span>
      <span class="icon-christmas" (click)="selectIcon($event)" ></span>
      <span class="icon-easter-egg" (click)="selectIcon($event)" ></span>
      <span class="icon-mustache2" (click)="selectIcon($event)" ></span>
      <span class="icon-mustache-glasses" (click)="selectIcon($event)" ></span>
      <span class="icon-pipe" (click)="selectIcon($event)" ></span>
      <span class="icon-alarm" (click)="selectIcon($event)" ></span>
      <span class="icon-alarm-add" (click)="selectIcon($event)" ></span>
      <span class="icon-alarm-snooze" (click)="selectIcon($event)" ></span>
      <span class="icon-alarm-ringing" (click)="selectIcon($event)" ></span>
      <span class="icon-bullhorn" (click)="selectIcon($event)" ></span>
      <span class="icon-hearing" (click)="selectIcon($event)" ></span>
      <span class="icon-volume-high" (click)="selectIcon($event)" ></span>
      <span class="icon-volume-medium" (click)="selectIcon($event)" ></span>
      <span class="icon-volume-low" (click)="selectIcon($event)" ></span>
      <span class="icon-volume" (click)="selectIcon($event)" ></span>
      <span class="icon-mute" (click)="selectIcon($event)" ></span>
      <span class="icon-lan" (click)="selectIcon($event)" ></span>
      <span class="icon-lan2" (click)="selectIcon($event)" ></span>
      <span class="icon-wifi" (click)="selectIcon($event)" ></span>
      <span class="icon-wifi-lock" (click)="selectIcon($event)" ></span>
      <span class="icon-wifi-blocked" (click)="selectIcon($event)" ></span>
      <span class="icon-wifi-mid" (click)="selectIcon($event)" ></span>
      <span class="icon-wifi-low" (click)="selectIcon($event)" ></span>
      <span class="icon-wifi-low2" (click)="selectIcon($event)" ></span>
      <span class="icon-wifi-alert" (click)="selectIcon($event)" ></span>
      <span class="icon-wifi-alert-mid" (click)="selectIcon($event)" ></span>
      <span class="icon-wifi-alert-low" (click)="selectIcon($event)" ></span>
      <span class="icon-wifi-alert-low2" (click)="selectIcon($event)" ></span>
      <span class="icon-stream" (click)="selectIcon($event)" ></span>
      <span class="icon-stream-check" (click)="selectIcon($event)" ></span>
      <span class="icon-stream-error" (click)="selectIcon($event)" ></span>
      <span class="icon-stream-alert" (click)="selectIcon($event)" ></span>
      <span class="icon-communication" (click)="selectIcon($event)" ></span>
      <span class="icon-communication-crossed" (click)="selectIcon($event)" ></span>
      <span class="icon-broadcast" (click)="selectIcon($event)" ></span>
      <span class="icon-antenna" (click)="selectIcon($event)" ></span>
      <span class="icon-satellite" (click)="selectIcon($event)" ></span>
      <span class="icon-satellite2" (click)="selectIcon($event)" ></span>
      <span class="icon-mic" (click)="selectIcon($event)" ></span>
      <span class="icon-mic-mute" (click)="selectIcon($event)" ></span>
      <span class="icon-mic2" (click)="selectIcon($event)" ></span>
      <span class="icon-spotlights" (click)="selectIcon($event)" ></span>
      <span class="icon-hourglass" (click)="selectIcon($event)" ></span>
      <span class="icon-loading" (click)="selectIcon($event)" ></span>
      <span class="icon-loading2" (click)="selectIcon($event)" ></span>
      <span class="icon-loading3" (click)="selectIcon($event)" ></span>
      <span class="icon-refresh" (click)="selectIcon($event)" ></span>
      <span class="icon-refresh2" (click)="selectIcon($event)" ></span>
      <span class="icon-undo" (click)="selectIcon($event)" ></span>
      <span class="icon-redo" (click)="selectIcon($event)" ></span>
      <span class="icon-jump2" (click)="selectIcon($event)" ></span>
      <span class="icon-undo2" (click)="selectIcon($event)" ></span>
      <span class="icon-redo2" (click)="selectIcon($event)" ></span>
      <span class="icon-sync" (click)="selectIcon($event)" ></span>
      <span class="icon-repeat-one2" (click)="selectIcon($event)" ></span>
      <span class="icon-sync-crossed" (click)="selectIcon($event)" ></span>
      <span class="icon-sync2" (click)="selectIcon($event)" ></span>
      <span class="icon-repeat-one3" (click)="selectIcon($event)" ></span>
      <span class="icon-sync-crossed2" (click)="selectIcon($event)" ></span>
      <span class="icon-return" (click)="selectIcon($event)" ></span>
      <span class="icon-return2" (click)="selectIcon($event)" ></span>
      <span class="icon-refund" (click)="selectIcon($event)" ></span>
      <span class="icon-history" (click)="selectIcon($event)" ></span>
      <span class="icon-history2" (click)="selectIcon($event)" ></span>
      <span class="icon-self-timer" (click)="selectIcon($event)" ></span>
      <span class="icon-clock" (click)="selectIcon($event)" ></span>
      <span class="icon-clock2" (click)="selectIcon($event)" ></span>
      <span class="icon-clock3" (click)="selectIcon($event)" ></span>
      <span class="icon-watch" (click)="selectIcon($event)" ></span>
      <span class="icon-alarm2" (click)="selectIcon($event)" ></span>
      <span class="icon-alarm-add2" (click)="selectIcon($event)" ></span>
      <span class="icon-alarm-remove" (click)="selectIcon($event)" ></span>
      <span class="icon-alarm-check" (click)="selectIcon($event)" ></span>
      <span class="icon-alarm-error" (click)="selectIcon($event)" ></span>
      <span class="icon-timer" (click)="selectIcon($event)" ></span>
      <span class="icon-timer-crossed" (click)="selectIcon($event)" ></span>
      <span class="icon-timer2" (click)="selectIcon($event)" ></span>
      <span class="icon-timer-crossed2" (click)="selectIcon($event)" ></span>
      <span class="icon-download" (click)="selectIcon($event)" ></span>
      <span class="icon-upload" (click)="selectIcon($event)" ></span>
      <span class="icon-download2" (click)="selectIcon($event)" ></span>
      <span class="icon-upload2" (click)="selectIcon($event)" ></span>
      <span class="icon-enter-up" (click)="selectIcon($event)" ></span>
      <span class="icon-enter-down" (click)="selectIcon($event)" ></span>
      <span class="icon-enter-left" (click)="selectIcon($event)" ></span>
      <span class="icon-enter-right" (click)="selectIcon($event)" ></span>
      <span class="icon-exit-up" (click)="selectIcon($event)" ></span>
      <span class="icon-exit-down" (click)="selectIcon($event)" ></span>
      <span class="icon-exit-left" (click)="selectIcon($event)" ></span>
      <span class="icon-exit-right" (click)="selectIcon($event)" ></span>
      <span class="icon-enter-up2" (click)="selectIcon($event)" ></span>
      <span class="icon-enter-down2" (click)="selectIcon($event)" ></span>
      <span class="icon-enter-vertical" (click)="selectIcon($event)" ></span>
      <span class="icon-enter-left2" (click)="selectIcon($event)" ></span>
      <span class="icon-enter-right2" (click)="selectIcon($event)" ></span>
      <span class="icon-enter-horizontal" (click)="selectIcon($event)" ></span>
      <span class="icon-exit-up2" (click)="selectIcon($event)" ></span>
      <span class="icon-exit-down2" (click)="selectIcon($event)" ></span>
      <span class="icon-exit-left2" (click)="selectIcon($event)" ></span>
      <span class="icon-exit-right2" (click)="selectIcon($event)" ></span>
      <span class="icon-cli" (click)="selectIcon($event)" ></span>
      <span class="icon-bug" (click)="selectIcon($event)" ></span>
      <span class="icon-code" (click)="selectIcon($event)" ></span>
      <span class="icon-file-code" (click)="selectIcon($event)" ></span>
      <span class="icon-file-image" (click)="selectIcon($event)" ></span>
      <span class="icon-file-zip" (click)="selectIcon($event)" ></span>
      <span class="icon-file-audio" (click)="selectIcon($event)" ></span>
      <span class="icon-file-video" (click)="selectIcon($event)" ></span>
      <span class="icon-file-preview" (click)="selectIcon($event)" ></span>
      <span class="icon-file-charts" (click)="selectIcon($event)" ></span>
      <span class="icon-file-stats" (click)="selectIcon($event)" ></span>
      <span class="icon-file-spreadsheet" (click)="selectIcon($event)" ></span>
      <span class="icon-link" (click)="selectIcon($event)" ></span>
      <span class="icon-unlink" (click)="selectIcon($event)" ></span>
      <span class="icon-link2" (click)="selectIcon($event)" ></span>
      <span class="icon-unlink2" (click)="selectIcon($event)" ></span>
      <span class="icon-thumbs-up" (click)="selectIcon($event)" ></span>
      <span class="icon-thumbs-down" (click)="selectIcon($event)" ></span>
      <span class="icon-thumbs-up2" (click)="selectIcon($event)" ></span>
      <span class="icon-thumbs-down2" (click)="selectIcon($event)" ></span>
      <span class="icon-thumbs-up3" (click)="selectIcon($event)" ></span>
      <span class="icon-thumbs-down3" (click)="selectIcon($event)" ></span>
      <span class="icon-share" (click)="selectIcon($event)" ></span>
      <span class="icon-share2" (click)="selectIcon($event)" ></span>
      <span class="icon-share3" (click)="selectIcon($event)" ></span>
      <span class="icon-magnifier" (click)="selectIcon($event)" ></span>
      <span class="icon-file-search" (click)="selectIcon($event)" ></span>
      <span class="icon-find-replace" (click)="selectIcon($event)" ></span>
      <span class="icon-zoom-in" (click)="selectIcon($event)" ></span>
      <span class="icon-zoom-out" (click)="selectIcon($event)" ></span>
      <span class="icon-loupe" (click)="selectIcon($event)" ></span>
      <span class="icon-loupe-zoom-in" (click)="selectIcon($event)" ></span>
      <span class="icon-loupe-zoom-out" (click)="selectIcon($event)" ></span>
      <span class="icon-cross" (click)="selectIcon($event)" ></span>
      <span class="icon-menu" (click)="selectIcon($event)" ></span>
      <span class="icon-list" (click)="selectIcon($event)" ></span>
      <span class="icon-list2" (click)="selectIcon($event)" ></span>
      <span class="icon-list3" (click)="selectIcon($event)" ></span>
      <span class="icon-menu2" (click)="selectIcon($event)" ></span>
      <span class="icon-list4" (click)="selectIcon($event)" ></span>
      <span class="icon-menu3" (click)="selectIcon($event)" ></span>
      <span class="icon-exclamation" (click)="selectIcon($event)" ></span>
      <span class="icon-question" (click)="selectIcon($event)" ></span>
      <span class="icon-check" (click)="selectIcon($event)" ></span>
      <span class="icon-cross2" (click)="selectIcon($event)" ></span>
      <span class="icon-plus" (click)="selectIcon($event)" ></span>
      <span class="icon-minus" (click)="selectIcon($event)" ></span>
      <span class="icon-percent" (click)="selectIcon($event)" ></span>
      <span class="icon-chevron-up" (click)="selectIcon($event)" ></span>
      <span class="icon-chevron-down" (click)="selectIcon($event)" ></span>
      <span class="icon-chevron-left" (click)="selectIcon($event)" ></span>
      <span class="icon-chevron-right" (click)="selectIcon($event)" ></span>
      <span class="icon-chevrons-expand-vertical" (click)="selectIcon($event)" ></span>
      <span class="icon-chevrons-expand-horizontal" (click)="selectIcon($event)" ></span>
      <span class="icon-chevrons-contract-vertical" (click)="selectIcon($event)" ></span>
      <span class="icon-chevrons-contract-horizontal" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-up" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-down" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-left" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-right" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-up-right" (click)="selectIcon($event)" ></span>
      <span class="icon-arrows-merge" (click)="selectIcon($event)" ></span>
      <span class="icon-arrows-split" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-divert" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-return" (click)="selectIcon($event)" ></span>
      <span class="icon-expand" (click)="selectIcon($event)" ></span>
      <span class="icon-contract" (click)="selectIcon($event)" ></span>
      <span class="icon-expand2" (click)="selectIcon($event)" ></span>
      <span class="icon-contract2" (click)="selectIcon($event)" ></span>
      <span class="icon-move" (click)="selectIcon($event)" ></span>
      <span class="icon-tab" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-wave" (click)="selectIcon($event)" ></span>
      <span class="icon-expand3" (click)="selectIcon($event)" ></span>
      <span class="icon-expand4" (click)="selectIcon($event)" ></span>
      <span class="icon-contract3" (click)="selectIcon($event)" ></span>
      <span class="icon-notification" (click)="selectIcon($event)" ></span>
      <span class="icon-warning" (click)="selectIcon($event)" ></span>
      <span class="icon-notification-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-question-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-menu-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-checkmark-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-cross-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-plus-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-circle-minus" (click)="selectIcon($event)" ></span>
      <span class="icon-percent-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-up-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-down-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-left-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-right-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-chevron-up-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-chevron-down-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-chevron-left-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-chevron-right-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-backward-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-first-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-previous-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-stop-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-play-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-pause-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-next-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-last-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-forward-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-eject-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-crop" (click)="selectIcon($event)" ></span>
      <span class="icon-frame-expand" (click)="selectIcon($event)" ></span>
      <span class="icon-frame-contract" (click)="selectIcon($event)" ></span>
      <span class="icon-focus" (click)="selectIcon($event)" ></span>
      <span class="icon-transform" (click)="selectIcon($event)" ></span>
      <span class="icon-grid" (click)="selectIcon($event)" ></span>
      <span class="icon-grid-crossed" (click)="selectIcon($event)" ></span>
      <span class="icon-layers" (click)="selectIcon($event)" ></span>
      <span class="icon-layers-crossed" (click)="selectIcon($event)" ></span>
      <span class="icon-toggle" (click)="selectIcon($event)" ></span>
      <span class="icon-rulers" (click)="selectIcon($event)" ></span>
      <span class="icon-ruler" (click)="selectIcon($event)" ></span>
      <span class="icon-funnel" (click)="selectIcon($event)" ></span>
      <span class="icon-flip-horizontal" (click)="selectIcon($event)" ></span>
      <span class="icon-flip-vertical" (click)="selectIcon($event)" ></span>
      <span class="icon-flip-horizontal2" (click)="selectIcon($event)" ></span>
      <span class="icon-flip-vertical2" (click)="selectIcon($event)" ></span>
      <span class="icon-angle" (click)="selectIcon($event)" ></span>
      <span class="icon-angle2" (click)="selectIcon($event)" ></span>
      <span class="icon-subtract" (click)="selectIcon($event)" ></span>
      <span class="icon-combine" (click)="selectIcon($event)" ></span>
      <span class="icon-intersect" (click)="selectIcon($event)" ></span>
      <span class="icon-exclude" (click)="selectIcon($event)" ></span>
      <span class="icon-align-center-vertical" (click)="selectIcon($event)" ></span>
      <span class="icon-align-right" (click)="selectIcon($event)" ></span>
      <span class="icon-align-bottom" (click)="selectIcon($event)" ></span>
      <span class="icon-align-left" (click)="selectIcon($event)" ></span>
      <span class="icon-align-center-horizontal" (click)="selectIcon($event)" ></span>
      <span class="icon-align-top" (click)="selectIcon($event)" ></span>
      <span class="icon-square" (click)="selectIcon($event)" ></span>
      <span class="icon-plus-square" (click)="selectIcon($event)" ></span>
      <span class="icon-minus-square" (click)="selectIcon($event)" ></span>
      <span class="icon-percent-square" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-up-square" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-down-square" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-left-square" (click)="selectIcon($event)" ></span>
      <span class="icon-arrow-right-square" (click)="selectIcon($event)" ></span>
      <span class="icon-chevron-up-square" (click)="selectIcon($event)" ></span>
      <span class="icon-chevron-down-square" (click)="selectIcon($event)" ></span>
      <span class="icon-chevron-left-square" (click)="selectIcon($event)" ></span>
      <span class="icon-chevron-right-square" (click)="selectIcon($event)" ></span>
      <span class="icon-check-square" (click)="selectIcon($event)" ></span>
      <span class="icon-cross-square" (click)="selectIcon($event)" ></span>
      <span class="icon-menu-square" (click)="selectIcon($event)" ></span>
      <span class="icon-prohibited" (click)="selectIcon($event)" ></span>
      <span class="icon-circle" (click)="selectIcon($event)" ></span>
      <span class="icon-radio-button" (click)="selectIcon($event)" ></span>
      <span class="icon-ligature" (click)="selectIcon($event)" ></span>
      <span class="icon-text-format" (click)="selectIcon($event)" ></span>
      <span class="icon-text-format-remove" (click)="selectIcon($event)" ></span>
      <span class="icon-text-size" (click)="selectIcon($event)" ></span>
      <span class="icon-bold" (click)="selectIcon($event)" ></span>
      <span class="icon-italic" (click)="selectIcon($event)" ></span>
      <span class="icon-underline" (click)="selectIcon($event)" ></span>
      <span class="icon-strikethrough" (click)="selectIcon($event)" ></span>
      <span class="icon-highlight" (click)="selectIcon($event)" ></span>
      <span class="icon-text-align-left" (click)="selectIcon($event)" ></span>
      <span class="icon-text-align-center" (click)="selectIcon($event)" ></span>
      <span class="icon-text-align-right" (click)="selectIcon($event)" ></span>
      <span class="icon-text-align-justify" (click)="selectIcon($event)" ></span>
      <span class="icon-line-spacing" (click)="selectIcon($event)" ></span>
      <span class="icon-indent-increase" (click)="selectIcon($event)" ></span>
      <span class="icon-indent-decrease" (click)="selectIcon($event)" ></span>
      <span class="icon-text-wrap" (click)="selectIcon($event)" ></span>
      <span class="icon-pilcrow" (click)="selectIcon($event)" ></span>
      <span class="icon-direction-ltr" (click)="selectIcon($event)" ></span>
      <span class="icon-direction-rtl" (click)="selectIcon($event)" ></span>
      <span class="icon-page-break" (click)="selectIcon($event)" ></span>
      <span class="icon-page-break2" (click)="selectIcon($event)" ></span>
      <span class="icon-sort-alpha-asc" (click)="selectIcon($event)" ></span>
      <span class="icon-sort-alpha-desc" (click)="selectIcon($event)" ></span>
      <span class="icon-sort-numeric-asc" (click)="selectIcon($event)" ></span>
      <span class="icon-sort-numeric-desc" (click)="selectIcon($event)" ></span>
      <span class="icon-sort-amount-asc" (click)="selectIcon($event)" ></span>
      <span class="icon-sort-amount-desc" (click)="selectIcon($event)" ></span>
      <span class="icon-sort-time-asc" (click)="selectIcon($event)" ></span>
      <span class="icon-sort-time-desc" (click)="selectIcon($event)" ></span>
      <span class="icon-sigma" (click)="selectIcon($event)" ></span>
      <span class="icon-pencil-line" (click)="selectIcon($event)" ></span>
      <span class="icon-hand" (click)="selectIcon($event)" ></span>
      <span class="icon-pointer-up" (click)="selectIcon($event)" ></span>
      <span class="icon-pointer-right" (click)="selectIcon($event)" ></span>
      <span class="icon-pointer-down" (click)="selectIcon($event)" ></span>
      <span class="icon-pointer-left" (click)="selectIcon($event)" ></span>
      <span class="icon-finger-tap" (click)="selectIcon($event)" ></span>
      <span class="icon-fingers-tap" (click)="selectIcon($event)" ></span>
      <span class="icon-reminder" (click)="selectIcon($event)" ></span>
      <span class="icon-fingers-crossed" (click)="selectIcon($event)" ></span>
      <span class="icon-fingers-victory" (click)="selectIcon($event)" ></span>
      <span class="icon-gesture-zoom" (click)="selectIcon($event)" ></span>
      <span class="icon-gesture-pinch" (click)="selectIcon($event)" ></span>
      <span class="icon-fingers-scroll-horizontal" (click)="selectIcon($event)" ></span>
      <span class="icon-fingers-scroll-vertical" (click)="selectIcon($event)" ></span>
      <span class="icon-fingers-scroll-left" (click)="selectIcon($event)" ></span>
      <span class="icon-fingers-scroll-right" (click)="selectIcon($event)" ></span>
      <span class="icon-hand2" (click)="selectIcon($event)" ></span>
      <span class="icon-pointer-up2" (click)="selectIcon($event)" ></span>
      <span class="icon-pointer-right2" (click)="selectIcon($event)" ></span>
      <span class="icon-pointer-down2" (click)="selectIcon($event)" ></span>
      <span class="icon-pointer-left2" (click)="selectIcon($event)" ></span>
      <span class="icon-finger-tap2" (click)="selectIcon($event)" ></span>
      <span class="icon-fingers-tap2" (click)="selectIcon($event)" ></span>
      <span class="icon-reminder2" (click)="selectIcon($event)" ></span>
      <span class="icon-gesture-zoom2" (click)="selectIcon($event)" ></span>
      <span class="icon-gesture-pinch2" (click)="selectIcon($event)" ></span>
      <span class="icon-fingers-scroll-horizontal2" (click)="selectIcon($event)" ></span>
      <span class="icon-fingers-scroll-vertical2" (click)="selectIcon($event)" ></span>
      <span class="icon-fingers-scroll-left2" (click)="selectIcon($event)" ></span>
      <span class="icon-fingers-scroll-right2" (click)="selectIcon($event)" ></span>
      <span class="icon-fingers-scroll-vertical3" (click)="selectIcon($event)" ></span>
      <span class="icon-border-style" (click)="selectIcon($event)" ></span>
      <span class="icon-border-all" (click)="selectIcon($event)" ></span>
      <span class="icon-border-outer" (click)="selectIcon($event)" ></span>
      <span class="icon-border-inner" (click)="selectIcon($event)" ></span>
      <span class="icon-border-top" (click)="selectIcon($event)" ></span>
      <span class="icon-border-horizontal" (click)="selectIcon($event)" ></span>
      <span class="icon-border-bottom" (click)="selectIcon($event)" ></span>
      <span class="icon-border-left" (click)="selectIcon($event)" ></span>
      <span class="icon-border-vertical" (click)="selectIcon($event)" ></span>
      <span class="icon-border-right" (click)="selectIcon($event)" ></span>
      <span class="icon-border-none" (click)="selectIcon($event)" ></span>
      <span class="icon-ellipsis" (click)="selectIcon($event)" ></span>
    </div>
  </div>
</ng-template>
