<section class="section footer" *ngIf="nav">
  <div class="container footer-content">
    <app-collaborators *ngIf="showCollaborators"></app-collaborators>
    <footer>
      <div class="block-nosotros">
        <h2 class="title">
          Nosotros
        </h2>
        <div class="block-content">
          <p>
            nim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
          </p>
          <div class="block-footer">
            <img src="/assets/img/cesens_log.svg" alt="" />
            <img src="/assets/img/encorelab.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="block-sub">
        <h2 class="title">
          Suscríbete al blog
        </h2>
        <div class="block-content">
          <p>
            nim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            nim veniam, quis nostrud exercitation ullamco laboris nisi
          </p>
          <div class="block-footer">
            <input type="text" placeholder="email@email.com" />
            <button class="btn btn-outline-primary">ENVIAR</button>
          </div>
        </div>
      </div>
      <div class="block-nosotros">
        <h2 class="title">
          Síguenos
        </h2>
        <div class="block-content-follow">
          <p>
            nim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
          </p>
          <div class="block-footer-socials"></div>
        </div>
      </div>
    </footer>
    <div class="copyright">
      <a>@ Encore-lab 2019</a>
      <a (click)="openModalLegal(legalContent)">Legal</a>
      <a (click)="openModalPrivacy(privateContent)">Privacidad</a>
    </div>
  </div>
</section>

<ng-template #privateContent>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Agro de precisión por Cesens privacy</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="PrivateModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque delectus
      enim esse excepturi, impedit, iste magnam officia optio, quam quis
      quisquam saepe sint unde velit vitae! Animi in iusto ut.Lorem ipsum dolor
      sit amet, consectetur adipisicing elit. Cumque delectus enim esse
      excepturi, impedit, iste magnam officia optio, quam quis quisquam saepe
      sint unde velit vitae! Animi in iusto ut.Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Cumque delectus enim esse excepturi,
      impedit, iste magnam officia optio, quam quis quisquam saepe sint unde
      velit vitae! Animi in iusto ut.Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Cumque delectus enim esse excepturi, impedit, iste
      magnam officia optio, quam quis quisquam saepe sint unde velit vitae!
      Animi in iusto ut.
    </p>
  </div>
</ng-template>

<ng-template #legalContent>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Agro de precisión por Cesens legal</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="PrivateModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque delectus
      enim esse excepturi, impedit, iste magnam officia optio, quam quis
      quisquam saepe sint unde velit vitae! Animi in iusto ut.Lorem ipsum dolor
      sit amet, consectetur adipisicing elit. Cumque delectus enim esse
      excepturi, impedit, iste magnam officia optio, quam quis quisquam saepe
      sint unde velit vitae! Animi in iusto ut.Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Cumque delectus enim esse excepturi,
      impedit, iste magnam officia optio, quam quis quisquam saepe sint unde
      velit vitae! Animi in iusto ut.Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Cumque delectus enim esse excepturi, impedit, iste
      magnam officia optio, quam quis quisquam saepe sint unde velit vitae!
      Animi in iusto ut.
    </p>
  </div>
</ng-template>
